{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agentcore",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Bedrock AgentCore Evaluation DataPlane",
    "serviceId":"AgentCore Evaluation DataPlane",
    "signatureVersion":"v4",
    "signingName":"bedrock-agentcore",
    "uid":"agentcore-evaluation-dataplane-2022-07-26"
  },
  "operations":{
    "CreateABTest":{
      "name":"CreateABTest",
      "http":{
        "method":"POST",
        "requestUri":"/abtests",
        "responseCode":202
      },
      "input":{"shape":"CreateABTestRequest"},
      "output":{"shape":"CreateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteABTest":{
      "name":"DeleteABTest",
      "http":{
        "method":"DELETE",
        "requestUri":"/abtests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteABTestRequest"},
      "output":{"shape":"DeleteABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteBatchEvaluation":{
      "name":"DeleteBatchEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluateId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteBatchEvaluationRequest"},
      "output":{"shape":"DeleteBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteRecommendation":{
      "name":"DeleteRecommendation",
      "http":{
        "method":"DELETE",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRecommendationRequest"},
      "output":{"shape":"DeleteRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "Evaluate":{
      "name":"Evaluate",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/evaluate/{evaluatorId}",
        "responseCode":200
      },
      "input":{"shape":"EvaluateRequest"},
      "output":{"shape":"EvaluateResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"DuplicateIdException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetABTest":{
      "name":"GetABTest",
      "http":{
        "method":"GET",
        "requestUri":"/abtests/{abTestId}",
        "responseCode":200
      },
      "input":{"shape":"GetABTestRequest"},
      "output":{"shape":"GetABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetBatchEvaluation":{
      "name":"GetBatchEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluateId}",
        "responseCode":200
      },
      "input":{"shape":"GetBatchEvaluationRequest"},
      "output":{"shape":"GetBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetEvaluationJobResult":{
      "name":"GetEvaluationJobResult",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-jobs/{jobId}/runs/{runId}",
        "responseCode":200
      },
      "input":{"shape":"GetEvaluationJobResultRequest"},
      "output":{"shape":"GetEvaluationJobResultResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetRecommendation":{
      "name":"GetRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"GetRecommendationRequest"},
      "output":{"shape":"GetRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListABTests":{
      "name":"ListABTests",
      "http":{
        "method":"GET",
        "requestUri":"/abtests",
        "responseCode":200
      },
      "input":{"shape":"ListABTestsRequest"},
      "output":{"shape":"ListABTestsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListBatchEvaluations":{
      "name":"ListBatchEvaluations",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":200
      },
      "input":{"shape":"ListBatchEvaluationsRequest"},
      "output":{"shape":"ListBatchEvaluationsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListEvaluationJobResults":{
      "name":"ListEvaluationJobResults",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-jobs/{jobId}/runs",
        "responseCode":200
      },
      "input":{"shape":"ListEvaluationJobResultsRequest"},
      "output":{"shape":"ListEvaluationJobResultsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "RunEvaluationJob":{
      "name":"RunEvaluationJob",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs/{jobId}/runs",
        "responseCode":202
      },
      "input":{"shape":"RunEvaluationJobRequest"},
      "output":{"shape":"RunEvaluationJobResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "StartBatchEvaluation":{
      "name":"StartBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":202
      },
      "input":{"shape":"StartBatchEvaluationRequest"},
      "output":{"shape":"StartBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "StartRecommendation":{
      "name":"StartRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"StartRecommendationRequest"},
      "output":{"shape":"StartRecommendationResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopBatchEvaluation":{
      "name":"StopBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluateId}/stop",
        "responseCode":202
      },
      "input":{"shape":"StopBatchEvaluationRequest"},
      "output":{"shape":"StopBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopEvaluationJobRun":{
      "name":"StopEvaluationJobRun",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs/{jobId}/runs/{runId}/stop",
        "responseCode":200
      },
      "input":{"shape":"StopEvaluationJobRunRequest"},
      "output":{"shape":"StopEvaluationJobRunResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateABTest":{
      "name":"UpdateABTest",
      "http":{
        "method":"PUT",
        "requestUri":"/abtests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateABTestRequest"},
      "output":{"shape":"UpdateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "ABTestArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:ab-test/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestDescription":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ABTestEvaluationConfig":{
      "type":"structure",
      "required":["onlineEvaluationConfigArn"],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"}
      }
    },
    "ABTestExecutionStatus":{
      "type":"string",
      "enum":[
        "PAUSED",
        "RUNNING",
        "STOPPED"
      ]
    },
    "ABTestId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "ABTestResults":{
      "type":"structure",
      "required":["evaluatorMetrics"],
      "members":{
        "analysisTimestamp":{"shape":"Timestamp"},
        "evaluatorMetrics":{"shape":"EvaluatorMetricList"}
      }
    },
    "ABTestStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED"
      ]
    },
    "ABTestSummary":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "name",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "description":{"shape":"ABTestDescription"},
        "gatewayArn":{"shape":"String"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "ABTestSummaryList":{
      "type":"list",
      "member":{"shape":"ABTestSummary"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AgentTracesConfig":{
      "type":"structure",
      "members":{
        "sessionSpans":{"shape":"Spans"},
        "cloudwatchLogs":{"shape":"CloudWatchLogsTraceConfig"}
      },
      "union":true
    },
    "BatchEvaluateArn":{
      "type":"string",
      "documentation":"<p>ARN for a batch evaluation</p>"
    },
    "BatchEvaluateId":{
      "type":"string",
      "documentation":"<p>Unique identifier for a batch evaluation (UUID)</p>",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "BatchEvaluateStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "STOPPING",
        "STOPPED"
      ]
    },
    "BatchEvaluateSummary":{
      "type":"structure",
      "required":[
        "batchEvaluateId",
        "batchEvaluateArn",
        "name",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluateId":{"shape":"BatchEvaluateId"},
        "batchEvaluateArn":{"shape":"BatchEvaluateArn"},
        "name":{"shape":"String"},
        "status":{"shape":"BatchEvaluateStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "evaluationConfig":{"shape":"EvaluationConfiguration"},
        "evaluationResults":{"shape":"RunSummaryEvaluationResults"},
        "errorDetails":{"shape":"ErrorDetailsList"}
      },
      "documentation":"<p>Summary representation for list responses</p>"
    },
    "BatchEvaluateSummaryList":{
      "type":"list",
      "member":{"shape":"BatchEvaluateSummary"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "CloudWatchLogsFilter":{
      "type":"structure",
      "required":[
        "key",
        "operator",
        "value"
      ],
      "members":{
        "key":{"shape":"CloudWatchLogsFilterKeyString"},
        "operator":{"shape":"CloudWatchLogsFilterOperator"},
        "value":{"shape":"FilterValue"}
      }
    },
    "CloudWatchLogsFilterKeyString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "CloudWatchLogsFilterList":{
      "type":"list",
      "member":{"shape":"CloudWatchLogsFilter"}
    },
    "CloudWatchLogsFilterOperator":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThan",
        "LessThan",
        "GreaterThanOrEqual",
        "LessThanOrEqual",
        "Contains",
        "NotContains"
      ]
    },
    "CloudWatchLogsRule":{
      "type":"structure",
      "members":{
        "filters":{"shape":"CloudWatchLogsFilterList"}
      }
    },
    "CloudWatchLogsTraceConfig":{
      "type":"structure",
      "required":[
        "logGroupArns",
        "serviceNames",
        "startTime",
        "endTime"
      ],
      "members":{
        "logGroupArns":{"shape":"CloudWatchLogsTraceConfigLogGroupArnsList"},
        "serviceNames":{"shape":"ServiceNameList"},
        "startTime":{"shape":"SyntheticTimestamp_date_time"},
        "endTime":{"shape":"SyntheticTimestamp_date_time"},
        "rule":{"shape":"CloudWatchLogsRule"}
      }
    },
    "CloudWatchLogsTraceConfigLogGroupArnsList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "CloudWatchOutputDataConfig":{
      "type":"structure",
      "required":[
        "logGroupName",
        "logStreamName"
      ],
      "members":{
        "logGroupName":{"shape":"String"},
        "logStreamName":{"shape":"String"}
      },
      "documentation":"<p>CloudWatch Logs destination for batch evaluation results</p>"
    },
    "CloudWatchSessionInput":{
      "type":"structure",
      "members":{
        "sessionIds":{"shape":"EvaluationStringList"},
        "sessionFilterConfig":{"shape":"SessionFilterConfig"}
      }
    },
    "CloudWatchSessionSource":{
      "type":"structure",
      "required":[
        "serviceNames",
        "logGroupNames"
      ],
      "members":{
        "serviceNames":{"shape":"CloudWatchSessionSourceServiceNamesList"},
        "logGroupNames":{"shape":"CloudWatchSessionSourceLogGroupNamesList"},
        "sessionInput":{"shape":"CloudWatchSessionInput"}
      }
    },
    "CloudWatchSessionSourceLogGroupNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "CloudWatchSessionSourceServiceNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":1,
      "min":1
    },
    "ConfidenceInterval":{
      "type":"structure",
      "members":{
        "lower":{"shape":"Double"},
        "upper":{"shape":"Double"}
      }
    },
    "ConfigurationBundleArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:configuration-bundle/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleRef":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleVersion"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleVersion":{"shape":"ConfigurationBundleVersion"}
      }
    },
    "ConfigurationBundleToolEntry":{
      "type":"structure",
      "required":[
        "toolName",
        "toolDescriptionJsonPath"
      ],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "toolDescriptionJsonPath":{"shape":"String"}
      }
    },
    "ConfigurationBundleToolEntryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleToolEntry"}
    },
    "ConfigurationBundleVersion":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ConfigurationBundleVersionId":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Context":{
      "type":"structure",
      "members":{
        "spanContext":{"shape":"SpanContext"}
      },
      "union":true
    },
    "ControlStats":{
      "type":"structure",
      "required":[
        "treatmentName",
        "sampleSize",
        "mean"
      ],
      "members":{
        "treatmentName":{"shape":"String"},
        "sampleSize":{"shape":"Integer"},
        "mean":{"shape":"Double"}
      }
    },
    "CreateABTestRequest":{
      "type":"structure",
      "required":[
        "name",
        "gatewayArn",
        "variants",
        "evaluationConfig",
        "roleArn"
      ],
      "members":{
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "gatewayArn":{"shape":"String"},
        "variants":{"shape":"VariantList"},
        "trafficAllocationConfig":{"shape":"TrafficAllocationConfig"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "maxDurationDays":{"shape":"MaxDurationDays"},
        "roleArn":{"shape":"RoleArn"},
        "enableOnCreate":{"shape":"Boolean"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status",
        "executionStatus",
        "createdAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "DatasetManagementGroundTruth":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{"shape":"String"}
      }
    },
    "DeleteABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        }
      }
    },
    "DeleteABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "status":{"shape":"ABTestStatus"}
      }
    },
    "DeleteBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluateId"],
      "members":{
        "batchEvaluateId":{
          "shape":"BatchEvaluateId",
          "location":"uri",
          "locationName":"batchEvaluateId"
        }
      }
    },
    "DeleteBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluateId",
        "batchEvaluateArn",
        "status"
      ],
      "members":{
        "batchEvaluateId":{"shape":"BatchEvaluateId"},
        "batchEvaluateArn":{"shape":"BatchEvaluateArn"},
        "status":{"shape":"BatchEvaluateStatus"}
      }
    },
    "DeleteRecommendationRequest":{
      "type":"structure",
      "required":["recommendationId"],
      "members":{
        "recommendationId":{
          "shape":"RecommendationId",
          "location":"uri",
          "locationName":"recommendationId"
        }
      }
    },
    "DeleteRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "status"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "status":{"shape":"RecommendationStatus"}
      }
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DuplicateIdException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ErrorDetailsList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "EvaluateRequest":{
      "type":"structure",
      "required":[
        "evaluatorId",
        "evaluationInput"
      ],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        },
        "evaluationInput":{"shape":"EvaluationInput"},
        "evaluationTarget":{"shape":"EvaluationTarget"},
        "evaluationReferenceInputs":{"shape":"EvaluationReferenceInputs"}
      }
    },
    "EvaluateResponse":{
      "type":"structure",
      "required":["evaluationResults"],
      "members":{
        "evaluationResults":{"shape":"EvaluationResults"}
      }
    },
    "EvaluationConfiguration":{
      "type":"structure",
      "members":{
        "evaluators":{
          "shape":"EvaluationConfigurationEvaluatorsList",
          "documentation":"<p>List of evaluators to run against sessions</p>"
        },
        "insights":{
          "shape":"EvaluationConfigurationInsightsList",
          "documentation":"<p>List of insight types to generate (e.g., FAILURE_ANALYSIS)</p>"
        }
      },
      "documentation":"<p>Configuration specifying what analysis to run — evaluators, insights, or both</p>"
    },
    "EvaluationConfigurationEvaluatorsList":{
      "type":"list",
      "member":{"shape":"Evaluator"},
      "max":10,
      "min":0
    },
    "EvaluationConfigurationInsightsList":{
      "type":"list",
      "member":{"shape":"Insight"},
      "max":10,
      "min":0
    },
    "EvaluationContent":{
      "type":"structure",
      "members":{
        "text":{"shape":"EvaluationContentTextString"}
      },
      "union":true
    },
    "EvaluationContentList":{
      "type":"list",
      "member":{"shape":"EvaluationContent"},
      "max":100,
      "min":1
    },
    "EvaluationContentTextString":{
      "type":"string",
      "max":100000,
      "min":1
    },
    "EvaluationErrorCode":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "EvaluationErrorMessage":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "EvaluationExpectedTrajectory":{
      "type":"structure",
      "members":{
        "toolNames":{"shape":"EvaluationToolNames"}
      }
    },
    "EvaluationExplanation":{
      "type":"string",
      "max":10240,
      "min":0,
      "sensitive":true
    },
    "EvaluationInput":{
      "type":"structure",
      "members":{
        "sessionSpans":{"shape":"Spans"}
      },
      "union":true
    },
    "EvaluationJobId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "EvaluationJobResults":{
      "type":"structure",
      "members":{
        "sessionsCompleted":{"shape":"Integer"},
        "sessionsInProgress":{"shape":"Integer"},
        "sessionsFailed":{"shape":"Integer"},
        "totalSessions":{"shape":"Integer"},
        "evaluatorSummaries":{"shape":"EvaluatorSummaryList"}
      }
    },
    "EvaluationReferenceInput":{
      "type":"structure",
      "required":["context"],
      "members":{
        "context":{"shape":"Context"},
        "expectedResponse":{"shape":"EvaluationContent"},
        "assertions":{"shape":"EvaluationContentList"},
        "expectedTrajectory":{"shape":"EvaluationExpectedTrajectory"}
      }
    },
    "EvaluationReferenceInputs":{
      "type":"list",
      "member":{"shape":"EvaluationReferenceInput"},
      "max":1000,
      "min":1,
      "sensitive":true
    },
    "EvaluationResultContent":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "context"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "explanation":{"shape":"EvaluationExplanation"},
        "context":{"shape":"Context"},
        "value":{"shape":"Double"},
        "label":{"shape":"String"},
        "tokenUsage":{"shape":"TokenUsage"},
        "errorMessage":{"shape":"EvaluationErrorMessage"},
        "errorCode":{"shape":"EvaluationErrorCode"},
        "ignoredReferenceInputFields":{"shape":"IgnoredReferenceInputFields"}
      }
    },
    "EvaluationResults":{
      "type":"list",
      "member":{"shape":"EvaluationResultContent"}
    },
    "EvaluationSessionSource":{
      "type":"structure",
      "members":{
        "cloudWatchSource":{
          "shape":"CloudWatchSessionSource",
          "documentation":"<p>Pull session spans from CloudWatch</p>"
        },
        "s3Source":{
          "shape":"S3SessionSource",
          "documentation":"<p>Pull session spans from S3</p>"
        },
        "inlineSource":{
          "shape":"InlineSessionSource",
          "documentation":"<p>Provide session spans inline</p>"
        },
        "onlineEvaluationConfigSource":{
          "shape":"OnlineEvaluationConfigSource",
          "documentation":"<p>Reference an existing OnlineEvaluationConfig as session source</p>"
        }
      },
      "documentation":"<p>Where to pull session spans from</p>",
      "union":true
    },
    "EvaluationStringList":{
      "type":"list",
      "member":{"shape":"String"}
    },
    "EvaluationTarget":{
      "type":"structure",
      "members":{
        "spanIds":{"shape":"SpanIds"},
        "traceIds":{"shape":"TraceIds"}
      },
      "union":true
    },
    "EvaluationToolName":{
      "type":"string",
      "max":500,
      "min":1
    },
    "EvaluationToolNames":{
      "type":"list",
      "member":{"shape":"EvaluationToolName"},
      "max":1000,
      "min":0
    },
    "Evaluator":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{"shape":"String"}
      },
      "documentation":"<p>An evaluator to run against sessions</p>"
    },
    "EvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$|^arn:aws:bedrock-agentcore:::evaluator/Builtin.[a-zA-Z0-9_-]+"
    },
    "EvaluatorId":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10})"
    },
    "EvaluatorMetric":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "controlStats",
        "variantResults"
      ],
      "members":{
        "evaluatorArn":{"shape":"String"},
        "controlStats":{"shape":"ControlStats"},
        "variantResults":{"shape":"VariantResultList"}
      }
    },
    "EvaluatorMetricList":{
      "type":"list",
      "member":{"shape":"EvaluatorMetric"}
    },
    "EvaluatorName":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9_]{0,47})"
    },
    "EvaluatorStatistics":{
      "type":"structure",
      "members":{
        "averageScore":{"shape":"Double"},
        "averageTokenUsage":{"shape":"TokenUsageSummary"}
      }
    },
    "EvaluatorSummary":{
      "type":"structure",
      "members":{
        "evaluatorArn":{"shape":"String"},
        "evaluatorId":{"shape":"String"},
        "evaluatorName":{"shape":"String"},
        "statistics":{"shape":"EvaluatorStatistics"},
        "totalEvaluated":{"shape":"Integer"},
        "totalFailed":{"shape":"Integer"}
      }
    },
    "EvaluatorSummaryList":{
      "type":"list",
      "member":{"shape":"EvaluatorSummary"}
    },
    "Failure":{
      "type":"structure",
      "members":{
        "sessionId":{"shape":"String"},
        "spanId":{"shape":"String"},
        "evidence":{"shape":"String"}
      }
    },
    "FailureCategory":{
      "type":"structure",
      "members":{
        "failureCategoryName":{"shape":"String"},
        "failureCategoryDescription":{"shape":"String"},
        "categoryGroupName":{"shape":"String"},
        "failures":{"shape":"FailureList"},
        "rootCauses":{"shape":"RootCauseList"}
      }
    },
    "FailureCategoryList":{
      "type":"list",
      "member":{"shape":"FailureCategory"}
    },
    "FailureList":{
      "type":"list",
      "member":{"shape":"Failure"}
    },
    "FilterStringValue":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "FilterValue":{
      "type":"structure",
      "members":{
        "stringValue":{"shape":"FilterStringValue"},
        "doubleValue":{"shape":"Double"},
        "booleanValue":{"shape":"Boolean"}
      },
      "union":true
    },
    "GetABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        }
      }
    },
    "GetABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "name",
        "status",
        "executionStatus",
        "gatewayArn",
        "variants",
        "evaluationConfig",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "gatewayArn":{"shape":"String"},
        "variants":{"shape":"VariantList"},
        "trafficAllocationConfig":{"shape":"TrafficAllocationConfig"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "maxDurationDays":{"shape":"MaxDurationDays"},
        "roleArn":{"shape":"RoleArn"},
        "currentRunId":{"shape":"String"},
        "errorDetails":{"shape":"ErrorDetailsList"},
        "startedAt":{"shape":"Timestamp"},
        "stoppedAt":{"shape":"Timestamp"},
        "maxDurationExpiresAt":{"shape":"Timestamp"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "results":{"shape":"ABTestResults"}
      }
    },
    "GetBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluateId"],
      "members":{
        "batchEvaluateId":{
          "shape":"BatchEvaluateId",
          "location":"uri",
          "locationName":"batchEvaluateId"
        }
      }
    },
    "GetBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluateId",
        "batchEvaluateArn",
        "name",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluateId":{"shape":"BatchEvaluateId"},
        "batchEvaluateArn":{"shape":"BatchEvaluateArn"},
        "name":{"shape":"String"},
        "status":{"shape":"BatchEvaluateStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "evaluationConfig":{"shape":"EvaluationConfiguration"},
        "executionRoleArn":{"shape":"String"},
        "outputDataConfig":{"shape":"OutputDataConfig"},
        "evaluationResults":{"shape":"EvaluationJobResults"},
        "errorDetails":{"shape":"ErrorDetailsList"},
        "tags":{"shape":"StringMap"}
      }
    },
    "GetEvaluationJobResultRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "runId"
      ],
      "members":{
        "jobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"jobId"
        },
        "runId":{
          "shape":"RunId",
          "location":"uri",
          "locationName":"runId"
        }
      }
    },
    "GetEvaluationJobResultResponse":{
      "type":"structure",
      "required":[
        "runId",
        "jobId",
        "status",
        "startedAt"
      ],
      "members":{
        "runId":{"shape":"RunId"},
        "jobId":{"shape":"EvaluationJobId"},
        "status":{"shape":"RunStatusShape"},
        "startedAt":{"shape":"SyntheticTimestamp_date_time"},
        "evaluationResults":{
          "shape":"EvaluationJobResults",
          "documentation":"<p>Present when evaluation completes</p>"
        },
        "insights":{
          "shape":"InsightsResult",
          "documentation":"<p>Present if insightsJobConfig was set</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetailsList",
          "documentation":"<p>List of error messages</p>"
        }
      }
    },
    "GetRecommendationRequest":{
      "type":"structure",
      "required":["recommendationId"],
      "members":{
        "recommendationId":{
          "shape":"RecommendationId",
          "location":"uri",
          "locationName":"recommendationId"
        }
      }
    },
    "GetRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "recommendationConfig",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"},
        "recommendationResult":{"shape":"RecommendationResult"},
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "GroundTruthSource":{
      "type":"structure",
      "members":{
        "inline":{
          "shape":"InlineGroundTruth",
          "documentation":"<p>Provide ground truth inline</p>"
        },
        "s3":{
          "shape":"S3GroundTruth",
          "documentation":"<p>Pull ground truth from S3</p>"
        },
        "datasetManagementConfiguration":{
          "shape":"DatasetManagementGroundTruth",
          "documentation":"<p>Pull ground truth from dataset management</p>"
        }
      },
      "documentation":"<p>Where to pull ground truth from</p>",
      "union":true
    },
    "GroundTruthTurn":{
      "type":"structure",
      "members":{
        "input":{"shape":"GroundTruthTurnInput"},
        "expectedResponse":{
          "shape":"EvaluationContent",
          "documentation":"<p>expectedResponse for evaluation, reuses common model EvaluationContent</p>"
        }
      }
    },
    "GroundTruthTurnInput":{
      "type":"structure",
      "members":{
        "prompt":{"shape":"String"}
      }
    },
    "GroundTruthTurnList":{
      "type":"list",
      "member":{"shape":"GroundTruthTurn"}
    },
    "IgnoredReferenceInputField":{
      "type":"string",
      "max":1000,
      "min":1
    },
    "IgnoredReferenceInputFields":{
      "type":"list",
      "member":{"shape":"IgnoredReferenceInputField"},
      "max":100,
      "min":0
    },
    "InlineGroundTruth":{
      "type":"structure",
      "members":{
        "assertions":{
          "shape":"EvaluationContentList",
          "documentation":"<p>assertions for evaluation, reuses common model EvaluationContentList</p>"
        },
        "expectedTrajectory":{
          "shape":"EvaluationExpectedTrajectory",
          "documentation":"<p>expectedTrajectory for evaluation, reuses common model EvaluationExpectedTrajectory</p>"
        },
        "turns":{"shape":"GroundTruthTurnList"}
      }
    },
    "InlineSession":{
      "type":"structure",
      "required":[
        "sessionId",
        "sessionSpans"
      ],
      "members":{
        "sessionId":{"shape":"String"},
        "sessionSpans":{"shape":"Spans"}
      }
    },
    "InlineSessionList":{
      "type":"list",
      "member":{"shape":"InlineSession"},
      "min":1
    },
    "InlineSessionSource":{
      "type":"structure",
      "required":["sessions"],
      "members":{
        "sessions":{"shape":"InlineSessionList"}
      }
    },
    "Insight":{
      "type":"structure",
      "required":["insightId"],
      "members":{
        "insightId":{"shape":"String"}
      },
      "documentation":"<p>An insight analysis to run against sessions</p>"
    },
    "InsightRecommendationType":{
      "type":"string",
      "enum":[
        "SYSTEM_PROMPT_FIX",
        "TOOL_DESCRIPTION_FIX",
        "OTHERS"
      ]
    },
    "InsightsResult":{
      "type":"structure",
      "members":{
        "failureCategories":{"shape":"FailureCategoryList"}
      }
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KmsKeyArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}"
    },
    "ListABTestsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListABTestsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListABTestsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListABTestsResponse":{
      "type":"structure",
      "required":["abTests"],
      "members":{
        "abTests":{"shape":"ABTestSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBatchEvaluationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListBatchEvaluationsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListBatchEvaluationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListBatchEvaluationsResponse":{
      "type":"structure",
      "required":["batchEvaluations"],
      "members":{
        "batchEvaluations":{"shape":"BatchEvaluateSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListEvaluationJobResultsRequest":{
      "type":"structure",
      "required":["jobId"],
      "members":{
        "jobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"jobId"
        },
        "maxResults":{
          "shape":"ListEvaluationJobResultsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListEvaluationJobResultsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListEvaluationJobResultsResponse":{
      "type":"structure",
      "required":["runs"],
      "members":{
        "runs":{"shape":"RunSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListRecommendationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListRecommendationsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "statusFilter":{
          "shape":"RecommendationStatus",
          "location":"querystring",
          "locationName":"status"
        }
      }
    },
    "ListRecommendationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListRecommendationsResponse":{
      "type":"structure",
      "required":["recommendationSummaries"],
      "members":{
        "recommendationSummaries":{"shape":"RecommendationSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "MaxDurationDays":{
      "type":"integer",
      "box":true,
      "max":90,
      "min":1
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"\\S*"
    },
    "NonBlankString":{
      "type":"string",
      "pattern":"[\\s\\S]+"
    },
    "OnlineEvaluationConfigArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:online-evaluation-config\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OnlineEvaluationConfigSource":{
      "type":"structure",
      "required":["onlineEvaluationConfigArn"],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "sessionFilterConfig":{"shape":"SessionFilterConfig"}
      },
      "documentation":"<p>Session source that references an existing OnlineEvaluationConfig</p>"
    },
    "OutputDataConfig":{
      "type":"structure",
      "members":{
        "cloudWatchDestination":{"shape":"CloudWatchOutputDataConfig"}
      },
      "documentation":"<p>Output destination configuration</p>",
      "union":true
    },
    "RecommendationArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:recommendation/[0-9a-zA-Z_-]{1,48}-[0-9A-Z]{10}"
    },
    "RecommendationConfig":{
      "type":"structure",
      "members":{
        "systemPromptRecommendationConfig":{"shape":"SystemPromptRecommendationConfig"},
        "toolDescriptionRecommendationConfig":{"shape":"ToolDescriptionRecommendationConfig"}
      },
      "union":true
    },
    "RecommendationDescription":{
      "type":"string",
      "max":4096,
      "min":0
    },
    "RecommendationErrorCode":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "RecommendationErrorMessage":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "RecommendationEvaluationConfig":{
      "type":"structure",
      "required":["evaluators"],
      "members":{
        "evaluators":{"shape":"RecommendationEvaluationConfigEvaluatorsList"}
      }
    },
    "RecommendationEvaluationConfigEvaluatorsList":{
      "type":"list",
      "member":{"shape":"RecommendationEvaluatorReference"},
      "max":1,
      "min":1
    },
    "RecommendationEvaluatorReference":{
      "type":"structure",
      "required":["evaluatorArn"],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"}
      }
    },
    "RecommendationExplanation":{
      "type":"string",
      "max":100000,
      "min":0,
      "sensitive":true
    },
    "RecommendationId":{
      "type":"string",
      "pattern":"[0-9a-zA-Z_-]{1,48}-[0-9A-Z]{10}"
    },
    "RecommendationName":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"[a-zA-Z][a-zA-Z0-9_-]{0,47}"
    },
    "RecommendationResult":{
      "type":"structure",
      "members":{
        "systemPromptRecommendationResult":{"shape":"SystemPromptRecommendationResult"},
        "toolDescriptionRecommendationResult":{"shape":"ToolDescriptionRecommendationResult"}
      },
      "union":true
    },
    "RecommendationResultConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"}
      }
    },
    "RecommendationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "DELETING"
      ]
    },
    "RecommendationSummary":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "RecommendationSummaryList":{
      "type":"list",
      "member":{"shape":"RecommendationSummary"}
    },
    "RecommendationToolName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-\\.]+"
    },
    "RecommendationType":{
      "type":"string",
      "enum":[
        "SYSTEM_PROMPT_RECOMMENDATION",
        "TOOL_DESCRIPTION_RECOMMENDATION"
      ]
    },
    "RelatedSession":{
      "type":"structure",
      "members":{
        "sessionId":{"shape":"String"},
        "failureSpanId":{"shape":"String"},
        "rootCauseSpanId":{"shape":"String"},
        "rootCauseExplanation":{"shape":"String"},
        "recommendationType":{"shape":"InsightRecommendationType"},
        "recommendation":{"shape":"String"}
      }
    },
    "RelatedSessionList":{
      "type":"list",
      "member":{"shape":"RelatedSession"}
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "RootCause":{
      "type":"structure",
      "members":{
        "rootCauseCategory":{"shape":"String"},
        "rootCauseDescription":{"shape":"String"},
        "recommendation":{"shape":"String"},
        "relatedSessions":{"shape":"RelatedSessionList"}
      }
    },
    "RootCauseList":{
      "type":"list",
      "member":{"shape":"RootCause"}
    },
    "RunEvaluationJobRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "runId",
        "sessionSource"
      ],
      "members":{
        "jobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"jobId"
        },
        "runId":{"shape":"RunId"},
        "clientToken":{
          "shape":"String",
          "idempotencyToken":true
        },
        "sessionSource":{"shape":"EvaluationSessionSource"},
        "sessionMetadata":{"shape":"SessionMetadataList"}
      }
    },
    "RunEvaluationJobResponse":{
      "type":"structure",
      "required":[
        "runId",
        "jobId",
        "status",
        "startedAt"
      ],
      "members":{
        "runId":{"shape":"RunId"},
        "jobId":{"shape":"EvaluationJobId"},
        "status":{"shape":"RunStatusShape"},
        "startedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "RunId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "RunStatusShape":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "STOPPED",
        "STOPPING"
      ]
    },
    "RunSummary":{
      "type":"structure",
      "required":[
        "runId",
        "jobId",
        "status",
        "startedAt"
      ],
      "members":{
        "runId":{"shape":"RunId"},
        "jobId":{"shape":"EvaluationJobId"},
        "status":{"shape":"RunStatusShape"},
        "startedAt":{"shape":"SyntheticTimestamp_date_time"},
        "evaluationResults":{
          "shape":"RunSummaryEvaluationResults",
          "documentation":"<p>Present when evaluation completes</p>"
        },
        "insights":{
          "shape":"InsightsResult",
          "documentation":"<p>Present if insightsJobConfig was set</p>"
        },
        "errorDetails":{
          "shape":"ErrorDetailsList",
          "documentation":"<p>List of error messages</p>"
        }
      }
    },
    "RunSummaryEvaluationResults":{
      "type":"structure",
      "members":{
        "evaluatorSummaries":{"shape":"EvaluatorSummaryList"}
      },
      "documentation":"<p>Evaluation results summary for list responses (no session counts)</p>"
    },
    "RunSummaryList":{
      "type":"list",
      "member":{"shape":"RunSummary"}
    },
    "S3GroundTruth":{
      "type":"structure",
      "required":[
        "bucketName",
        "key"
      ],
      "members":{
        "bucketName":{"shape":"String"},
        "key":{"shape":"String"}
      }
    },
    "S3SessionSource":{
      "type":"structure",
      "required":[
        "bucketName",
        "key"
      ],
      "members":{
        "bucketName":{"shape":"String"},
        "key":{"shape":"String"},
        "sessionIds":{"shape":"EvaluationStringList"}
      }
    },
    "ServiceName":{
      "type":"string",
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "ServiceNameList":{
      "type":"list",
      "member":{"shape":"ServiceName"},
      "max":1,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SessionFilterConfig":{
      "type":"structure",
      "members":{
        "startTime":{"shape":"SyntheticTimestamp_date_time"},
        "endTime":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "SessionMetadataList":{
      "type":"list",
      "member":{"shape":"SessionMetadataShape"}
    },
    "SessionMetadataShape":{
      "type":"structure",
      "required":["sessionId"],
      "members":{
        "sessionId":{"shape":"String"},
        "testScenarioId":{"shape":"String"},
        "groundTruth":{"shape":"GroundTruthSource"},
        "metadata":{"shape":"StringMap"}
      }
    },
    "Span":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "SpanContext":{
      "type":"structure",
      "required":["sessionId"],
      "members":{
        "sessionId":{"shape":"String"},
        "traceId":{"shape":"String"},
        "spanId":{"shape":"String"}
      }
    },
    "SpanId":{
      "type":"string",
      "max":16,
      "min":16
    },
    "SpanIds":{
      "type":"list",
      "member":{"shape":"SpanId"},
      "max":10,
      "min":1
    },
    "Spans":{
      "type":"list",
      "member":{"shape":"Span"},
      "max":1000,
      "min":1,
      "sensitive":true
    },
    "StartBatchEvaluationRequest":{
      "type":"structure",
      "required":[
        "name",
        "sessionSource"
      ],
      "members":{
        "name":{"shape":"StartBatchEvaluationRequestNameString"},
        "evaluationConfig":{
          "shape":"EvaluationConfiguration",
          "documentation":"<p>What analysis to run. Required for CW/S3/inline sources. Must have at least one of evaluators or insightTypes. Must not be provided when sessionSource is onlineEvaluationConfigSource (inherited from referenced config).</p>"
        },
        "sessionSource":{"shape":"EvaluationSessionSource"},
        "executionRoleArn":{"shape":"String"},
        "clientToken":{
          "shape":"String",
          "idempotencyToken":true
        },
        "sessionMetadata":{"shape":"StartBatchEvaluationRequestSessionMetadataList"},
        "tags":{"shape":"StartBatchEvaluationRequestTagsMap"}
      }
    },
    "StartBatchEvaluationRequestNameString":{
      "type":"string",
      "max":128,
      "min":1
    },
    "StartBatchEvaluationRequestSessionMetadataList":{
      "type":"list",
      "member":{"shape":"SessionMetadataShape"},
      "max":1000,
      "min":0
    },
    "StartBatchEvaluationRequestTagsMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"},
      "max":50,
      "min":0
    },
    "StartBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluateId",
        "batchEvaluateArn",
        "name",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluateId":{"shape":"BatchEvaluateId"},
        "batchEvaluateArn":{"shape":"BatchEvaluateArn"},
        "name":{"shape":"String"},
        "evaluationConfig":{"shape":"EvaluationConfiguration"},
        "executionRoleArn":{"shape":"String"},
        "status":{"shape":"BatchEvaluateStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "outputDataConfig":{"shape":"OutputDataConfig"},
        "tags":{"shape":"StringMap"}
      }
    },
    "StartRecommendationRequest":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "recommendationConfig"
      ],
      "members":{
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "StartRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "recommendationConfig",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "StopBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluateId"],
      "members":{
        "batchEvaluateId":{
          "shape":"BatchEvaluateId",
          "location":"uri",
          "locationName":"batchEvaluateId"
        }
      }
    },
    "StopBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluateId",
        "batchEvaluateArn",
        "status"
      ],
      "members":{
        "batchEvaluateId":{"shape":"BatchEvaluateId"},
        "batchEvaluateArn":{"shape":"BatchEvaluateArn"},
        "status":{"shape":"BatchEvaluateStatus"}
      }
    },
    "StopEvaluationJobRunRequest":{
      "type":"structure",
      "required":[
        "jobId",
        "runId"
      ],
      "members":{
        "jobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"jobId"
        },
        "runId":{
          "shape":"RunId",
          "location":"uri",
          "locationName":"runId"
        }
      }
    },
    "StopEvaluationJobRunResponse":{
      "type":"structure",
      "required":[
        "jobId",
        "runId",
        "status"
      ],
      "members":{
        "jobId":{"shape":"EvaluationJobId"},
        "runId":{"shape":"RunId"},
        "status":{"shape":"RunStatusShape"}
      }
    },
    "String":{"type":"string"},
    "StringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "SyntheticTimestamp_date_time":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "SystemPromptConfig":{
      "type":"structure",
      "members":{
        "text":{"shape":"SystemPromptText"},
        "configurationBundle":{"shape":"SystemPromptConfigurationBundle"}
      },
      "union":true
    },
    "SystemPromptConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId",
        "systemPromptJsonPath"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"},
        "systemPromptJsonPath":{"shape":"String"}
      }
    },
    "SystemPromptRecommendationConfig":{
      "type":"structure",
      "required":[
        "systemPrompt",
        "agentTraces",
        "evaluationConfig"
      ],
      "members":{
        "systemPrompt":{"shape":"SystemPromptConfig"},
        "agentTraces":{"shape":"AgentTracesConfig"},
        "evaluationConfig":{"shape":"RecommendationEvaluationConfig"}
      }
    },
    "SystemPromptRecommendationResult":{
      "type":"structure",
      "members":{
        "recommendedSystemPrompt":{"shape":"SystemPromptText"},
        "explanation":{"shape":"RecommendationExplanation"},
        "configurationBundle":{"shape":"RecommendationResultConfigurationBundle"},
        "errorCode":{"shape":"RecommendationErrorCode"},
        "errorMessage":{"shape":"RecommendationErrorMessage"}
      }
    },
    "SystemPromptText":{
      "type":"string",
      "max":100000,
      "min":1,
      "sensitive":true
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TokenUsage":{
      "type":"structure",
      "members":{
        "inputTokens":{"shape":"Integer"},
        "outputTokens":{"shape":"Integer"},
        "totalTokens":{"shape":"Integer"}
      }
    },
    "TokenUsageSummary":{
      "type":"structure",
      "members":{
        "inputTokens":{"shape":"Integer"},
        "outputTokens":{"shape":"Integer"},
        "totalTokens":{"shape":"Integer"}
      }
    },
    "ToolDescriptionConfig":{
      "type":"structure",
      "members":{
        "text":{"shape":"ToolDescriptionText"}
      },
      "union":true
    },
    "ToolDescriptionConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId",
        "tools"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"},
        "tools":{"shape":"ConfigurationBundleToolEntryList"}
      }
    },
    "ToolDescriptionInput":{
      "type":"structure",
      "required":[
        "toolName",
        "toolDescription"
      ],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "toolDescription":{"shape":"ToolDescriptionConfig"}
      }
    },
    "ToolDescriptionList":{
      "type":"list",
      "member":{"shape":"ToolDescriptionInput"}
    },
    "ToolDescriptionOutput":{
      "type":"structure",
      "required":["toolName"],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "recommendedToolDescription":{"shape":"ToolDescriptionText"},
        "explanation":{"shape":"RecommendationExplanation"}
      }
    },
    "ToolDescriptionRecommendationConfig":{
      "type":"structure",
      "required":[
        "toolDescription",
        "agentTraces"
      ],
      "members":{
        "toolDescription":{"shape":"ToolDescriptionSource"},
        "agentTraces":{"shape":"AgentTracesConfig"}
      }
    },
    "ToolDescriptionRecommendationResult":{
      "type":"structure",
      "members":{
        "tools":{"shape":"ToolDescriptionResultList"},
        "configurationBundle":{"shape":"RecommendationResultConfigurationBundle"},
        "errorCode":{"shape":"RecommendationErrorCode"},
        "errorMessage":{"shape":"RecommendationErrorMessage"}
      }
    },
    "ToolDescriptionResultList":{
      "type":"list",
      "member":{"shape":"ToolDescriptionOutput"}
    },
    "ToolDescriptionSource":{
      "type":"structure",
      "members":{
        "toolDescriptionText":{"shape":"ToolDescriptionTextInput"},
        "configurationBundle":{"shape":"ToolDescriptionConfigurationBundle"}
      },
      "union":true
    },
    "ToolDescriptionText":{
      "type":"string",
      "max":100000,
      "min":1,
      "sensitive":true
    },
    "ToolDescriptionTextInput":{
      "type":"structure",
      "required":["tools"],
      "members":{
        "tools":{"shape":"ToolDescriptionList"}
      }
    },
    "TraceId":{
      "type":"string",
      "max":32,
      "min":32
    },
    "TraceIds":{
      "type":"list",
      "member":{"shape":"TraceId"},
      "max":10,
      "min":1
    },
    "TrafficAllocationConfig":{
      "type":"structure",
      "members":{
        "routeOnHeader":{"shape":"TrafficRouteOnHeader"}
      },
      "union":true
    },
    "TrafficRouteOnHeader":{
      "type":"structure",
      "required":["headerName"],
      "members":{
        "headerName":{"shape":"String"}
      }
    },
    "UnauthorizedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":401,
        "senderFault":true
      },
      "exception":true
    },
    "UpdateABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "variants":{"shape":"VariantList"},
        "trafficAllocationConfig":{"shape":"TrafficAllocationConfig"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "maxDurationDays":{"shape":"MaxDurationDays"},
        "roleArn":{"shape":"RoleArn"},
        "executionStatus":{"shape":"ABTestExecutionStatus"}
      }
    },
    "UpdateABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status",
        "executionStatus",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "CannotParse",
        "FieldValidationFailed",
        "IdempotentParameterMismatchException",
        "EventInOtherSession",
        "ResourceConflict"
      ]
    },
    "Variant":{
      "type":"structure",
      "required":[
        "name",
        "weight",
        "variantConfiguration"
      ],
      "members":{
        "name":{"shape":"VariantName"},
        "weight":{"shape":"VariantWeightInteger"},
        "variantConfiguration":{"shape":"VariantConfiguration"}
      }
    },
    "VariantConfiguration":{
      "type":"structure",
      "members":{
        "configurationBundle":{"shape":"ConfigurationBundleRef"}
      },
      "union":true
    },
    "VariantList":{
      "type":"list",
      "member":{"shape":"Variant"},
      "max":2,
      "min":2
    },
    "VariantName":{
      "type":"string",
      "max":2,
      "min":1,
      "pattern":"(C|T1)"
    },
    "VariantResult":{
      "type":"structure",
      "required":[
        "treatmentName",
        "sampleSize",
        "mean",
        "isSignificant"
      ],
      "members":{
        "treatmentName":{"shape":"String"},
        "sampleSize":{"shape":"Integer"},
        "mean":{"shape":"Double"},
        "absoluteChange":{"shape":"Double"},
        "percentChange":{"shape":"Double"},
        "pValue":{"shape":"Double"},
        "confidenceInterval":{"shape":"ConfidenceInterval"},
        "isSignificant":{"shape":"Boolean"}
      }
    },
    "VariantResultList":{
      "type":"list",
      "member":{"shape":"VariantResult"}
    },
    "VariantWeightInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    }
  }
}
