{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2022-07-26",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agentcore",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"Amazon Bedrock AgentCore Evaluation DataPlane",
    "serviceId":"AgentCore Evaluation DataPlane",
    "signatureVersion":"v4",
    "signingName":"bedrock-agentcore",
    "uid":"agentcore-evaluation-dataplane-2022-07-26"
  },
  "operations":{
    "CreateABTest":{
      "name":"CreateABTest",
      "http":{
        "method":"POST",
        "requestUri":"/ab-tests",
        "responseCode":202
      },
      "input":{"shape":"CreateABTestRequest"},
      "output":{"shape":"CreateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteABTest":{
      "name":"DeleteABTest",
      "http":{
        "method":"DELETE",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteABTestRequest"},
      "output":{"shape":"DeleteABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteBatchEvaluation":{
      "name":"DeleteBatchEvaluation",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteBatchEvaluationRequest"},
      "output":{"shape":"DeleteBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteRecommendation":{
      "name":"DeleteRecommendation",
      "http":{
        "method":"DELETE",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"DeleteRecommendationRequest"},
      "output":{"shape":"DeleteRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "Evaluate":{
      "name":"Evaluate",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/evaluate/{evaluatorId}",
        "responseCode":200
      },
      "input":{"shape":"EvaluateRequest"},
      "output":{"shape":"EvaluateResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"DuplicateIdException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "GetABTest":{
      "name":"GetABTest",
      "http":{
        "method":"GET",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":200
      },
      "input":{"shape":"GetABTestRequest"},
      "output":{"shape":"GetABTestResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetBatchEvaluation":{
      "name":"GetBatchEvaluation",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}",
        "responseCode":200
      },
      "input":{"shape":"GetBatchEvaluationRequest"},
      "output":{"shape":"GetBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetRecommendation":{
      "name":"GetRecommendation",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations/{recommendationId}",
        "responseCode":200
      },
      "input":{"shape":"GetRecommendationRequest"},
      "output":{"shape":"GetRecommendationResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListABTests":{
      "name":"ListABTests",
      "http":{
        "method":"GET",
        "requestUri":"/ab-tests",
        "responseCode":200
      },
      "input":{"shape":"ListABTestsRequest"},
      "output":{"shape":"ListABTestsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListBatchEvaluations":{
      "name":"ListBatchEvaluations",
      "http":{
        "method":"GET",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":200
      },
      "input":{"shape":"ListBatchEvaluationsRequest"},
      "output":{"shape":"ListBatchEvaluationsResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListRecommendations":{
      "name":"ListRecommendations",
      "http":{
        "method":"GET",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"ListRecommendationsRequest"},
      "output":{"shape":"ListRecommendationsResponse"},
      "errors":[
        {"shape":"AccessDeniedException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "StartBatchEvaluation":{
      "name":"StartBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate",
        "responseCode":202
      },
      "input":{"shape":"StartBatchEvaluationRequest"},
      "output":{"shape":"StartBatchEvaluationResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "StartRecommendation":{
      "name":"StartRecommendation",
      "http":{
        "method":"POST",
        "requestUri":"/recommendations",
        "responseCode":200
      },
      "input":{"shape":"StartRecommendationRequest"},
      "output":{"shape":"StartRecommendationResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ValidationException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "StopBatchEvaluation":{
      "name":"StopBatchEvaluation",
      "http":{
        "method":"POST",
        "requestUri":"/evaluations/batch-evaluate/{batchEvaluationId}/stop",
        "responseCode":202
      },
      "input":{"shape":"StopBatchEvaluationRequest"},
      "output":{"shape":"StopBatchEvaluationResponse"},
      "errors":[
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateABTest":{
      "name":"UpdateABTest",
      "http":{
        "method":"PUT",
        "requestUri":"/ab-tests/{abTestId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateABTestRequest"},
      "output":{"shape":"UpdateABTestResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"UnauthorizedException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "ABTestArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:ab-test/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestDescription":{
      "type":"string",
      "max":200,
      "min":1
    },
    "ABTestEvaluationConfig":{
      "type":"structure",
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "perVariantOnlineEvaluationConfig":{"shape":"PerVariantOnlineEvaluationConfigList"}
      },
      "union":true
    },
    "ABTestExecutionStatus":{
      "type":"string",
      "enum":[
        "PAUSED",
        "RUNNING",
        "STOPPED",
        "NOT_STARTED"
      ]
    },
    "ABTestId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ABTestName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "ABTestResults":{
      "type":"structure",
      "required":["evaluatorMetrics"],
      "members":{
        "analysisTimestamp":{"shape":"Timestamp"},
        "evaluatorMetrics":{"shape":"EvaluatorMetricList"}
      }
    },
    "ABTestStatus":{
      "type":"string",
      "enum":[
        "CREATING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED",
        "FAILED"
      ]
    },
    "ABTestSummary":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "name",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "description":{"shape":"ABTestDescription"},
        "gatewayArn":{"shape":"GatewayArn"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "ABTestSummaryList":{
      "type":"list",
      "member":{"shape":"ABTestSummary"}
    },
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AgentTracesConfig":{
      "type":"structure",
      "members":{
        "sessionSpans":{"shape":"Spans"},
        "cloudwatchLogs":{"shape":"CloudWatchLogsTraceConfig"}
      },
      "union":true
    },
    "BatchEvaluationArn":{
      "type":"string",
      "documentation":"<p>ARN for a batch evaluation</p>"
    },
    "BatchEvaluationDescription":{
      "type":"string",
      "max":200,
      "min":0
    },
    "BatchEvaluationId":{
      "type":"string",
      "documentation":"<p>Unique identifier for a batch evaluation (name-prefixed format)</p>",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "BatchEvaluationName":{
      "type":"string",
      "documentation":"<p>Human-readable name for a batch evaluation</p>",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "BatchEvaluationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "COMPLETED_WITH_ERRORS",
        "FAILED",
        "STOPPING",
        "STOPPED",
        "DELETING"
      ]
    },
    "BatchEvaluationSummary":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "batchEvaluationName",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluationId":{"shape":"BatchEvaluationId"},
        "batchEvaluationArn":{"shape":"BatchEvaluationArn"},
        "batchEvaluationName":{"shape":"BatchEvaluationName"},
        "status":{"shape":"BatchEvaluationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "description":{"shape":"BatchEvaluationDescription"},
        "evaluators":{"shape":"EvaluatorList"},
        "evaluationResults":{"shape":"EvaluationJobResults"},
        "errorDetails":{"shape":"ErrorDetailsList"}
      },
      "documentation":"<p>Summary representation for list responses</p>"
    },
    "BatchEvaluationSummaryList":{
      "type":"list",
      "member":{"shape":"BatchEvaluationSummary"}
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "CloudWatchFilterConfig":{
      "type":"structure",
      "members":{
        "sessionIds":{"shape":"CloudWatchFilterConfigSessionIdsList"},
        "timeRange":{"shape":"SessionFilterConfig"}
      }
    },
    "CloudWatchFilterConfigSessionIdsList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":500,
      "min":0
    },
    "CloudWatchLogsFilter":{
      "type":"structure",
      "required":[
        "key",
        "operator",
        "value"
      ],
      "members":{
        "key":{"shape":"CloudWatchLogsFilterKeyString"},
        "operator":{"shape":"CloudWatchLogsFilterOperator"},
        "value":{"shape":"FilterValue"}
      }
    },
    "CloudWatchLogsFilterKeyString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "CloudWatchLogsFilterList":{
      "type":"list",
      "member":{"shape":"CloudWatchLogsFilter"}
    },
    "CloudWatchLogsFilterOperator":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThan",
        "LessThan",
        "GreaterThanOrEqual",
        "LessThanOrEqual",
        "Contains",
        "NotContains"
      ]
    },
    "CloudWatchLogsRule":{
      "type":"structure",
      "members":{
        "filters":{"shape":"CloudWatchLogsFilterList"}
      }
    },
    "CloudWatchLogsSource":{
      "type":"structure",
      "required":[
        "serviceNames",
        "logGroupNames"
      ],
      "members":{
        "serviceNames":{"shape":"CloudWatchLogsSourceServiceNamesList"},
        "logGroupNames":{"shape":"CloudWatchLogsSourceLogGroupNamesList"},
        "filterConfig":{"shape":"CloudWatchFilterConfig"}
      }
    },
    "CloudWatchLogsSourceLogGroupNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "CloudWatchLogsSourceServiceNamesList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":1,
      "min":1
    },
    "CloudWatchLogsTraceConfig":{
      "type":"structure",
      "required":[
        "logGroupArns",
        "serviceNames",
        "startTime",
        "endTime"
      ],
      "members":{
        "logGroupArns":{"shape":"CloudWatchLogsTraceConfigLogGroupArnsList"},
        "serviceNames":{"shape":"ServiceNameList"},
        "startTime":{"shape":"SyntheticTimestamp_date_time"},
        "endTime":{"shape":"SyntheticTimestamp_date_time"},
        "rule":{"shape":"CloudWatchLogsRule"}
      }
    },
    "CloudWatchLogsTraceConfigLogGroupArnsList":{
      "type":"list",
      "member":{"shape":"String"},
      "max":5,
      "min":1
    },
    "CloudWatchOutputConfig":{
      "type":"structure",
      "required":[
        "logGroupName",
        "logStreamName"
      ],
      "members":{
        "logGroupName":{"shape":"String"},
        "logStreamName":{"shape":"String"}
      },
      "documentation":"<p>CloudWatch Logs destination for batch evaluation results</p>"
    },
    "ConfidenceInterval":{
      "type":"structure",
      "members":{
        "lower":{"shape":"Double"},
        "upper":{"shape":"Double"}
      }
    },
    "ConfigurationBundleArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:configuration-bundle/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleRef":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleVersion"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleVersion":{"shape":"ConfigurationBundleVersion"}
      }
    },
    "ConfigurationBundleToolEntry":{
      "type":"structure",
      "required":[
        "toolName",
        "toolDescriptionJsonPath"
      ],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "toolDescriptionJsonPath":{"shape":"String"}
      }
    },
    "ConfigurationBundleToolEntryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleToolEntry"}
    },
    "ConfigurationBundleVersion":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ConfigurationBundleVersionId":{"type":"string"},
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "Context":{
      "type":"structure",
      "members":{
        "spanContext":{"shape":"SpanContext"}
      },
      "union":true
    },
    "ControlStats":{
      "type":"structure",
      "required":[
        "variantName",
        "sampleSize",
        "mean"
      ],
      "members":{
        "variantName":{"shape":"String"},
        "sampleSize":{"shape":"Integer"},
        "mean":{"shape":"Double"}
      }
    },
    "CreateABTestRequest":{
      "type":"structure",
      "required":[
        "name",
        "gatewayArn",
        "variants",
        "evaluationConfig",
        "roleArn"
      ],
      "members":{
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "gatewayArn":{"shape":"GatewayArn"},
        "variants":{"shape":"VariantList"},
        "gatewayFilter":{"shape":"GatewayFilter"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "roleArn":{"shape":"RoleArn"},
        "enableOnCreate":{"shape":"Boolean"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status",
        "executionStatus",
        "createdAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "DataSourceConfig":{
      "type":"structure",
      "members":{
        "cloudWatchLogs":{
          "shape":"CloudWatchLogsSource",
          "documentation":"<p>Pull session spans from CloudWatch</p>"
        }
      },
      "documentation":"<p>Where to pull session spans from</p>",
      "union":true
    },
    "DeleteABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        }
      }
    },
    "DeleteABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "status":{"shape":"ABTestStatus"}
      }
    },
    "DeleteBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluationId"],
      "members":{
        "batchEvaluationId":{
          "shape":"BatchEvaluationId",
          "location":"uri",
          "locationName":"batchEvaluationId"
        }
      }
    },
    "DeleteBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "status"
      ],
      "members":{
        "batchEvaluationId":{"shape":"BatchEvaluationId"},
        "batchEvaluationArn":{"shape":"BatchEvaluationArn"},
        "status":{"shape":"BatchEvaluationStatus"}
      }
    },
    "DeleteRecommendationRequest":{
      "type":"structure",
      "required":["recommendationId"],
      "members":{
        "recommendationId":{
          "shape":"RecommendationId",
          "location":"uri",
          "locationName":"recommendationId"
        }
      }
    },
    "DeleteRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "status"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "status":{"shape":"RecommendationStatus"}
      }
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DuplicateIdException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "ErrorDetailsList":{
      "type":"list",
      "member":{"shape":"ErrorDetailsListMemberString"},
      "max":1,
      "min":0
    },
    "ErrorDetailsListMemberString":{
      "type":"string",
      "max":1000,
      "min":0
    },
    "EvaluateRequest":{
      "type":"structure",
      "required":[
        "evaluatorId",
        "evaluationInput"
      ],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        },
        "evaluationInput":{"shape":"EvaluationInput"},
        "evaluationTarget":{"shape":"EvaluationTarget"},
        "evaluationReferenceInputs":{"shape":"EvaluationReferenceInputs"}
      }
    },
    "EvaluateResponse":{
      "type":"structure",
      "required":["evaluationResults"],
      "members":{
        "evaluationResults":{"shape":"EvaluationResults"}
      }
    },
    "EvaluationContent":{
      "type":"structure",
      "members":{
        "text":{"shape":"EvaluationContentTextString"}
      },
      "union":true
    },
    "EvaluationContentList":{
      "type":"list",
      "member":{"shape":"EvaluationContent"},
      "max":100,
      "min":1
    },
    "EvaluationContentTextString":{
      "type":"string",
      "max":100000,
      "min":1
    },
    "EvaluationErrorCode":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "EvaluationErrorMessage":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "EvaluationExpectedTrajectory":{
      "type":"structure",
      "members":{
        "toolNames":{"shape":"EvaluationToolNames"}
      }
    },
    "EvaluationExplanation":{
      "type":"string",
      "max":10240,
      "min":0,
      "sensitive":true
    },
    "EvaluationInput":{
      "type":"structure",
      "members":{
        "sessionSpans":{"shape":"Spans"}
      },
      "union":true
    },
    "EvaluationJobResults":{
      "type":"structure",
      "members":{
        "numberOfSessionsCompleted":{"shape":"Integer"},
        "numberOfSessionsInProgress":{"shape":"Integer"},
        "numberOfSessionsFailed":{"shape":"Integer"},
        "totalNumberOfSessions":{"shape":"Integer"},
        "numberOfSessionsIgnored":{"shape":"Integer"},
        "evaluatorSummaries":{"shape":"EvaluatorSummaryList"}
      }
    },
    "EvaluationMetadata":{
      "type":"structure",
      "members":{
        "sessionMetadata":{"shape":"SessionMetadataList"}
      },
      "union":true
    },
    "EvaluationReferenceInput":{
      "type":"structure",
      "required":["context"],
      "members":{
        "context":{"shape":"Context"},
        "expectedResponse":{"shape":"EvaluationContent"},
        "assertions":{"shape":"EvaluationContentList"},
        "expectedTrajectory":{"shape":"EvaluationExpectedTrajectory"}
      }
    },
    "EvaluationReferenceInputs":{
      "type":"list",
      "member":{"shape":"EvaluationReferenceInput"},
      "max":1000,
      "min":1,
      "sensitive":true
    },
    "EvaluationResultContent":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "context"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "explanation":{"shape":"EvaluationExplanation"},
        "context":{"shape":"Context"},
        "value":{"shape":"Double"},
        "label":{"shape":"String"},
        "tokenUsage":{"shape":"TokenUsage"},
        "errorMessage":{"shape":"EvaluationErrorMessage"},
        "errorCode":{"shape":"EvaluationErrorCode"},
        "ignoredReferenceInputFields":{"shape":"IgnoredReferenceInputFields"}
      }
    },
    "EvaluationResults":{
      "type":"list",
      "member":{"shape":"EvaluationResultContent"}
    },
    "EvaluationTarget":{
      "type":"structure",
      "members":{
        "spanIds":{"shape":"SpanIds"},
        "traceIds":{"shape":"TraceIds"}
      },
      "union":true
    },
    "EvaluationToolName":{
      "type":"string",
      "max":500,
      "min":1
    },
    "EvaluationToolNames":{
      "type":"list",
      "member":{"shape":"EvaluationToolName"},
      "max":1000,
      "min":0
    },
    "Evaluator":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{"shape":"EvaluatorId"}
      },
      "documentation":"<p>An evaluator to run against sessions</p>"
    },
    "EvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$|^arn:aws[a-zA-Z-]*:bedrock-agentcore:::evaluator/Builtin.[a-zA-Z0-9_-]+"
    },
    "EvaluatorId":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10})"
    },
    "EvaluatorList":{
      "type":"list",
      "member":{"shape":"Evaluator"}
    },
    "EvaluatorMetric":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "controlStats",
        "variantResults"
      ],
      "members":{
        "evaluatorArn":{"shape":"String"},
        "controlStats":{"shape":"ControlStats"},
        "variantResults":{"shape":"VariantResultList"}
      }
    },
    "EvaluatorMetricList":{
      "type":"list",
      "member":{"shape":"EvaluatorMetric"}
    },
    "EvaluatorName":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9_]{0,47})"
    },
    "EvaluatorStatistics":{
      "type":"structure",
      "members":{
        "averageScore":{"shape":"Double"}
      }
    },
    "EvaluatorSummary":{
      "type":"structure",
      "members":{
        "evaluatorId":{"shape":"String"},
        "statistics":{"shape":"EvaluatorStatistics"},
        "totalEvaluated":{"shape":"Integer"},
        "totalFailed":{"shape":"Integer"}
      }
    },
    "EvaluatorSummaryList":{
      "type":"list",
      "member":{"shape":"EvaluatorSummary"}
    },
    "FilterStringValue":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "FilterValue":{
      "type":"structure",
      "members":{
        "stringValue":{"shape":"FilterStringValue"},
        "doubleValue":{"shape":"Double"},
        "booleanValue":{"shape":"Boolean"}
      },
      "union":true
    },
    "GatewayArn":{
      "type":"string",
      "pattern":"arn:aws(|-cn|-us-gov):bedrock-agentcore:[a-z0-9-]{1,20}:[0-9]{12}:gateway/([0-9a-z][-]?){1,48}-[a-z0-9]{10}"
    },
    "GatewayFilter":{
      "type":"structure",
      "members":{
        "targetPaths":{"shape":"TargetPathList"}
      }
    },
    "GetABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        }
      }
    },
    "GetABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "name",
        "status",
        "executionStatus",
        "gatewayArn",
        "variants",
        "evaluationConfig",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "gatewayArn":{"shape":"GatewayArn"},
        "variants":{"shape":"VariantList"},
        "gatewayFilter":{"shape":"GatewayFilter"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "roleArn":{"shape":"RoleArn"},
        "currentRunId":{"shape":"String"},
        "errorDetails":{"shape":"ErrorDetailsList"},
        "startedAt":{"shape":"Timestamp"},
        "stoppedAt":{"shape":"Timestamp"},
        "maxDurationExpiresAt":{"shape":"Timestamp"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "results":{"shape":"ABTestResults"}
      }
    },
    "GetBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluationId"],
      "members":{
        "batchEvaluationId":{
          "shape":"BatchEvaluationId",
          "location":"uri",
          "locationName":"batchEvaluationId"
        }
      }
    },
    "GetBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "batchEvaluationName",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluationId":{"shape":"BatchEvaluationId"},
        "batchEvaluationArn":{"shape":"BatchEvaluationArn"},
        "batchEvaluationName":{"shape":"BatchEvaluationName"},
        "status":{"shape":"BatchEvaluationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "evaluators":{"shape":"EvaluatorList"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "outputConfig":{"shape":"OutputConfig"},
        "evaluationResults":{"shape":"EvaluationJobResults"},
        "errorDetails":{"shape":"ErrorDetailsList"},
        "description":{"shape":"BatchEvaluationDescription"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "GetRecommendationRequest":{
      "type":"structure",
      "required":["recommendationId"],
      "members":{
        "recommendationId":{
          "shape":"RecommendationId",
          "location":"uri",
          "locationName":"recommendationId"
        }
      }
    },
    "GetRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "recommendationConfig",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"},
        "recommendationResult":{"shape":"RecommendationResult"}
      }
    },
    "GroundTruthSource":{
      "type":"structure",
      "members":{
        "inline":{
          "shape":"InlineGroundTruth",
          "documentation":"<p>Provide ground truth inline</p>"
        }
      },
      "documentation":"<p>Where to pull ground truth from</p>",
      "union":true
    },
    "GroundTruthTurn":{
      "type":"structure",
      "members":{
        "input":{"shape":"GroundTruthTurnInput"},
        "expectedResponse":{"shape":"EvaluationContent"}
      }
    },
    "GroundTruthTurnInput":{
      "type":"structure",
      "members":{
        "prompt":{"shape":"GroundTruthTurnInputPromptString"}
      },
      "union":true
    },
    "GroundTruthTurnInputPromptString":{
      "type":"string",
      "max":4000,
      "min":0
    },
    "IgnoredReferenceInputField":{
      "type":"string",
      "max":1000,
      "min":1
    },
    "IgnoredReferenceInputFields":{
      "type":"list",
      "member":{"shape":"IgnoredReferenceInputField"},
      "max":100,
      "min":0
    },
    "InlineGroundTruth":{
      "type":"structure",
      "members":{
        "assertions":{
          "shape":"EvaluationContentList",
          "documentation":"<p>assertions for evaluation, reuses common model EvaluationContentList</p>"
        },
        "expectedTrajectory":{
          "shape":"EvaluationExpectedTrajectory",
          "documentation":"<p>expectedTrajectory for evaluation, reuses common model EvaluationExpectedTrajectory</p>"
        },
        "turns":{"shape":"InlineGroundTruthTurnsList"}
      }
    },
    "InlineGroundTruthTurnsList":{
      "type":"list",
      "member":{"shape":"GroundTruthTurn"},
      "min":1
    },
    "Integer":{
      "type":"integer",
      "box":true
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "ListABTestsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListABTestsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListABTestsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListABTestsResponse":{
      "type":"structure",
      "required":["abTests"],
      "members":{
        "abTests":{"shape":"ABTestSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListBatchEvaluationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListBatchEvaluationsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListBatchEvaluationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListBatchEvaluationsResponse":{
      "type":"structure",
      "required":["batchEvaluations"],
      "members":{
        "batchEvaluations":{"shape":"BatchEvaluationSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListRecommendationsRequest":{
      "type":"structure",
      "members":{
        "maxResults":{
          "shape":"ListRecommendationsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"NextToken",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "statusFilter":{
          "shape":"RecommendationStatus",
          "location":"querystring",
          "locationName":"status"
        }
      }
    },
    "ListRecommendationsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListRecommendationsResponse":{
      "type":"structure",
      "required":["recommendationSummaries"],
      "members":{
        "recommendationSummaries":{"shape":"RecommendationSummaryList"},
        "nextToken":{"shape":"NextToken"}
      }
    },
    "NextToken":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"\\S*"
    },
    "NonBlankString":{
      "type":"string",
      "pattern":"[\\s\\S]+"
    },
    "OnlineEvaluationConfigArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:online-evaluation-config\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OutputConfig":{
      "type":"structure",
      "members":{
        "cloudWatchConfig":{"shape":"CloudWatchOutputConfig"}
      },
      "documentation":"<p>Output destination configuration</p>",
      "union":true
    },
    "PathPattern":{
      "type":"string",
      "max":500,
      "min":1
    },
    "PerVariantOnlineEvaluationConfig":{
      "type":"structure",
      "required":[
        "name",
        "onlineEvaluationConfigArn"
      ],
      "members":{
        "name":{"shape":"VariantName"},
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"}
      }
    },
    "PerVariantOnlineEvaluationConfigList":{
      "type":"list",
      "member":{"shape":"PerVariantOnlineEvaluationConfig"},
      "max":2,
      "min":2
    },
    "RecommendationArn":{
      "type":"string",
      "pattern":"arn:aws[a-zA-Z-]*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:recommendation/[0-9a-zA-Z_-]{1,48}-[0-9A-Z]{10}"
    },
    "RecommendationConfig":{
      "type":"structure",
      "members":{
        "systemPromptRecommendationConfig":{"shape":"SystemPromptRecommendationConfig"},
        "toolDescriptionRecommendationConfig":{"shape":"ToolDescriptionRecommendationConfig"}
      },
      "union":true
    },
    "RecommendationDescription":{
      "type":"string",
      "max":4096,
      "min":0
    },
    "RecommendationErrorCode":{
      "type":"string",
      "max":1024,
      "min":0
    },
    "RecommendationErrorMessage":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "RecommendationEvaluationConfig":{
      "type":"structure",
      "required":["evaluators"],
      "members":{
        "evaluators":{"shape":"RecommendationEvaluationConfigEvaluatorsList"}
      }
    },
    "RecommendationEvaluationConfigEvaluatorsList":{
      "type":"list",
      "member":{"shape":"RecommendationEvaluatorReference"},
      "max":1,
      "min":1
    },
    "RecommendationEvaluatorReference":{
      "type":"structure",
      "required":["evaluatorArn"],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"}
      }
    },
    "RecommendationId":{
      "type":"string",
      "pattern":"[0-9a-zA-Z_-]{1,48}-[0-9A-Z]{10}"
    },
    "RecommendationName":{
      "type":"string",
      "max":100,
      "min":0,
      "pattern":"[a-zA-Z][a-zA-Z0-9_-]{0,47}"
    },
    "RecommendationResult":{
      "type":"structure",
      "members":{
        "systemPromptRecommendationResult":{"shape":"SystemPromptRecommendationResult"},
        "toolDescriptionRecommendationResult":{"shape":"ToolDescriptionRecommendationResult"}
      },
      "union":true
    },
    "RecommendationResultConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"}
      }
    },
    "RecommendationStatus":{
      "type":"string",
      "enum":[
        "PENDING",
        "IN_PROGRESS",
        "COMPLETED",
        "FAILED",
        "DELETING"
      ]
    },
    "RecommendationSummary":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "RecommendationSummaryList":{
      "type":"list",
      "member":{"shape":"RecommendationSummary"}
    },
    "RecommendationToolName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9_\\-\\.]+"
    },
    "RecommendationType":{
      "type":"string",
      "enum":[
        "SYSTEM_PROMPT_RECOMMENDATION",
        "TOOL_DESCRIPTION_RECOMMENDATION"
      ]
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "ServiceName":{
      "type":"string",
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "ServiceNameList":{
      "type":"list",
      "member":{"shape":"ServiceName"},
      "max":1,
      "min":1
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SessionFilterConfig":{
      "type":"structure",
      "members":{
        "startTime":{"shape":"SyntheticTimestamp_date_time"},
        "endTime":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "SessionMetadataList":{
      "type":"list",
      "member":{"shape":"SessionMetadataShape"},
      "max":500,
      "min":0
    },
    "SessionMetadataShape":{
      "type":"structure",
      "required":["sessionId"],
      "members":{
        "sessionId":{"shape":"String"},
        "testScenarioId":{"shape":"String"},
        "groundTruth":{"shape":"GroundTruthSource"},
        "metadata":{"shape":"StringMap"}
      }
    },
    "Span":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "SpanContext":{
      "type":"structure",
      "required":["sessionId"],
      "members":{
        "sessionId":{"shape":"String"},
        "traceId":{"shape":"String"},
        "spanId":{"shape":"String"}
      }
    },
    "SpanId":{
      "type":"string",
      "max":16,
      "min":16
    },
    "SpanIds":{
      "type":"list",
      "member":{"shape":"SpanId"},
      "max":10,
      "min":1
    },
    "Spans":{
      "type":"list",
      "member":{"shape":"Span"},
      "max":1000,
      "min":1,
      "sensitive":true
    },
    "StartBatchEvaluationRequest":{
      "type":"structure",
      "required":[
        "batchEvaluationName",
        "dataSourceConfig"
      ],
      "members":{
        "batchEvaluationName":{"shape":"BatchEvaluationName"},
        "evaluators":{"shape":"StartBatchEvaluationRequestEvaluatorsList"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluationMetadata":{"shape":"EvaluationMetadata"},
        "description":{"shape":"BatchEvaluationDescription"}
      }
    },
    "StartBatchEvaluationRequestEvaluatorsList":{
      "type":"list",
      "member":{"shape":"Evaluator"},
      "max":10,
      "min":0
    },
    "StartBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "batchEvaluationName",
        "status",
        "createdAt"
      ],
      "members":{
        "batchEvaluationId":{"shape":"BatchEvaluationId"},
        "batchEvaluationArn":{"shape":"BatchEvaluationArn"},
        "batchEvaluationName":{"shape":"BatchEvaluationName"},
        "evaluators":{"shape":"EvaluatorList"},
        "status":{"shape":"BatchEvaluationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "outputConfig":{"shape":"OutputConfig"},
        "description":{"shape":"BatchEvaluationDescription"}
      }
    },
    "StartRecommendationRequest":{
      "type":"structure",
      "required":[
        "name",
        "type",
        "recommendationConfig"
      ],
      "members":{
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "StartRecommendationResponse":{
      "type":"structure",
      "required":[
        "recommendationId",
        "recommendationArn",
        "name",
        "type",
        "recommendationConfig",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "recommendationId":{"shape":"RecommendationId"},
        "recommendationArn":{"shape":"RecommendationArn"},
        "name":{"shape":"RecommendationName"},
        "description":{"shape":"RecommendationDescription"},
        "type":{"shape":"RecommendationType"},
        "recommendationConfig":{"shape":"RecommendationConfig"},
        "status":{"shape":"RecommendationStatus"},
        "createdAt":{"shape":"SyntheticTimestamp_date_time"},
        "updatedAt":{"shape":"SyntheticTimestamp_date_time"}
      }
    },
    "StopBatchEvaluationRequest":{
      "type":"structure",
      "required":["batchEvaluationId"],
      "members":{
        "batchEvaluationId":{
          "shape":"BatchEvaluationId",
          "location":"uri",
          "locationName":"batchEvaluationId"
        }
      }
    },
    "StopBatchEvaluationResponse":{
      "type":"structure",
      "required":[
        "batchEvaluationId",
        "batchEvaluationArn",
        "status"
      ],
      "members":{
        "batchEvaluationId":{"shape":"BatchEvaluationId"},
        "batchEvaluationArn":{"shape":"BatchEvaluationArn"},
        "status":{"shape":"BatchEvaluationStatus"},
        "description":{"shape":"BatchEvaluationDescription"}
      }
    },
    "String":{"type":"string"},
    "StringMap":{
      "type":"map",
      "key":{"shape":"String"},
      "value":{"shape":"String"}
    },
    "SyntheticTimestamp_date_time":{
      "type":"timestamp",
      "timestampFormat":"iso8601"
    },
    "SystemPromptConfig":{
      "type":"structure",
      "members":{
        "text":{"shape":"SystemPromptText"},
        "configurationBundle":{"shape":"SystemPromptConfigurationBundle"}
      },
      "union":true
    },
    "SystemPromptConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId",
        "systemPromptJsonPath"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"},
        "systemPromptJsonPath":{"shape":"String"}
      }
    },
    "SystemPromptRecommendationConfig":{
      "type":"structure",
      "required":[
        "systemPrompt",
        "agentTraces",
        "evaluationConfig"
      ],
      "members":{
        "systemPrompt":{"shape":"SystemPromptConfig"},
        "agentTraces":{"shape":"AgentTracesConfig"},
        "evaluationConfig":{"shape":"RecommendationEvaluationConfig"}
      }
    },
    "SystemPromptRecommendationResult":{
      "type":"structure",
      "members":{
        "recommendedSystemPrompt":{"shape":"SystemPromptText"},
        "configurationBundle":{"shape":"RecommendationResultConfigurationBundle"},
        "errorCode":{"shape":"RecommendationErrorCode"},
        "errorMessage":{"shape":"RecommendationErrorMessage"}
      }
    },
    "SystemPromptText":{
      "type":"string",
      "max":20000,
      "min":1,
      "sensitive":true
    },
    "TargetName":{
      "type":"string",
      "max":100,
      "min":1
    },
    "TargetPathList":{
      "type":"list",
      "member":{"shape":"PathPattern"},
      "max":1,
      "min":1
    },
    "TargetRef":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"TargetName"}
      }
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "TokenUsage":{
      "type":"structure",
      "members":{
        "inputTokens":{"shape":"Integer"},
        "outputTokens":{"shape":"Integer"},
        "totalTokens":{"shape":"Integer"}
      }
    },
    "ToolDescriptionConfig":{
      "type":"structure",
      "members":{
        "text":{"shape":"ToolDescriptionText"}
      },
      "union":true
    },
    "ToolDescriptionConfigurationBundle":{
      "type":"structure",
      "required":[
        "bundleArn",
        "versionId",
        "tools"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "versionId":{"shape":"ConfigurationBundleVersionId"},
        "tools":{"shape":"ConfigurationBundleToolEntryList"}
      }
    },
    "ToolDescriptionInput":{
      "type":"structure",
      "required":[
        "toolName",
        "toolDescription"
      ],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "toolDescription":{"shape":"ToolDescriptionConfig"}
      }
    },
    "ToolDescriptionList":{
      "type":"list",
      "member":{"shape":"ToolDescriptionInput"}
    },
    "ToolDescriptionOutput":{
      "type":"structure",
      "required":["toolName"],
      "members":{
        "toolName":{"shape":"RecommendationToolName"},
        "recommendedToolDescription":{"shape":"ToolDescriptionText"}
      }
    },
    "ToolDescriptionRecommendationConfig":{
      "type":"structure",
      "required":[
        "toolDescription",
        "agentTraces"
      ],
      "members":{
        "toolDescription":{"shape":"ToolDescriptionSource"},
        "agentTraces":{"shape":"AgentTracesConfig"}
      }
    },
    "ToolDescriptionRecommendationResult":{
      "type":"structure",
      "members":{
        "tools":{"shape":"ToolDescriptionResultList"},
        "configurationBundle":{"shape":"RecommendationResultConfigurationBundle"},
        "errorCode":{"shape":"RecommendationErrorCode"},
        "errorMessage":{"shape":"RecommendationErrorMessage"}
      }
    },
    "ToolDescriptionResultList":{
      "type":"list",
      "member":{"shape":"ToolDescriptionOutput"}
    },
    "ToolDescriptionSource":{
      "type":"structure",
      "members":{
        "toolDescriptionText":{"shape":"ToolDescriptionTextInput"},
        "configurationBundle":{"shape":"ToolDescriptionConfigurationBundle"}
      },
      "union":true
    },
    "ToolDescriptionText":{
      "type":"string",
      "max":20000,
      "min":1,
      "sensitive":true
    },
    "ToolDescriptionTextInput":{
      "type":"structure",
      "required":["tools"],
      "members":{
        "tools":{"shape":"ToolDescriptionList"}
      }
    },
    "TraceId":{
      "type":"string",
      "max":32,
      "min":32
    },
    "TraceIds":{
      "type":"list",
      "member":{"shape":"TraceId"},
      "max":10,
      "min":1
    },
    "UnauthorizedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":401,
        "senderFault":true
      },
      "exception":true
    },
    "UpdateABTestRequest":{
      "type":"structure",
      "required":["abTestId"],
      "members":{
        "abTestId":{
          "shape":"ABTestId",
          "location":"uri",
          "locationName":"abTestId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"ABTestName"},
        "description":{"shape":"ABTestDescription"},
        "variants":{"shape":"VariantList"},
        "gatewayFilter":{"shape":"GatewayFilter"},
        "evaluationConfig":{"shape":"ABTestEvaluationConfig"},
        "roleArn":{"shape":"RoleArn"},
        "executionStatus":{"shape":"ABTestExecutionStatus"}
      }
    },
    "UpdateABTestResponse":{
      "type":"structure",
      "required":[
        "abTestId",
        "abTestArn",
        "status",
        "executionStatus",
        "updatedAt"
      ],
      "members":{
        "abTestId":{"shape":"ABTestId"},
        "abTestArn":{"shape":"ABTestArn"},
        "status":{"shape":"ABTestStatus"},
        "executionStatus":{"shape":"ABTestExecutionStatus"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "CannotParse",
        "FieldValidationFailed",
        "IdempotentParameterMismatchException",
        "EventInOtherSession",
        "ResourceConflict"
      ]
    },
    "Variant":{
      "type":"structure",
      "required":[
        "name",
        "weight",
        "variantConfiguration"
      ],
      "members":{
        "name":{"shape":"VariantName"},
        "weight":{"shape":"VariantWeightInteger"},
        "variantConfiguration":{"shape":"VariantConfiguration"}
      }
    },
    "VariantConfiguration":{
      "type":"structure",
      "members":{
        "configurationBundle":{"shape":"ConfigurationBundleRef"},
        "target":{"shape":"TargetRef"}
      }
    },
    "VariantList":{
      "type":"list",
      "member":{"shape":"Variant"},
      "max":2,
      "min":2
    },
    "VariantName":{
      "type":"string",
      "max":2,
      "min":1,
      "pattern":"(C|T1)"
    },
    "VariantResult":{
      "type":"structure",
      "required":[
        "variantName",
        "sampleSize",
        "mean",
        "isSignificant"
      ],
      "members":{
        "variantName":{"shape":"String"},
        "sampleSize":{"shape":"Integer"},
        "mean":{"shape":"Double"},
        "absoluteChange":{"shape":"Double"},
        "percentChange":{"shape":"Double"},
        "pValue":{"shape":"Double"},
        "confidenceInterval":{"shape":"ConfidenceInterval"},
        "isSignificant":{"shape":"Boolean"}
      }
    },
    "VariantResultList":{
      "type":"list",
      "member":{"shape":"VariantResult"}
    },
    "VariantWeightInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    }
  }
}
