{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-01-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agentcore-control",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AgentCoreEvaluationControlPlaneService",
    "serviceId":"AgentCoreEvaluationControlPlane",
    "signatureVersion":"v4",
    "signingName":"bedrock-agentcore",
    "uid":"agentcoreevaluationcontrolplane-2024-01-01"
  },
  "operations":{
    "AddDatasetExamples":{
      "name":"AddDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/add",
        "responseCode":202
      },
      "input":{"shape":"AddDatasetExamplesRequest"},
      "output":{"shape":"AddDatasetExamplesResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds examples to the dataset's DRAFT.</p> <p><strong>Validation:</strong> All examples are validated against the dataset's schemaType before any writes occur. If any example fails validation, the entire batch is rejected with ValidationException — no examples are written (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p> <p><strong>Request size limit:</strong> Max 5 MB total request body. Max 1000 examples per call.</p>"
    },
    "CreateConfigurationBundle":{
      "name":"CreateConfigurationBundle",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles/create",
        "responseCode":201
      },
      "input":{"shape":"CreateConfigurationBundleRequest"},
      "output":{"shape":"CreateConfigurationBundleResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new Dataset resource asynchronously.</p> <p>Returns immediately with status CREATING. Poll GetDataset until status transitions to ACTIVE or CREATE_FAILED (with failureReason).</p>"
    },
    "CreateDatasetVersion":{
      "name":"CreateDatasetVersion",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/versions",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetVersionRequest"},
      "output":{"shape":"CreateDatasetVersionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Publishes the current DRAFT as a new numbered version.</p> <p>Snapshots the DRAFT examples as the next version (0→1, 1→2, ...). The DRAFT is preserved and remains editable after publishing. Returns immediately with status PUBLISHING. Poll GetDataset until status transitions to ACTIVE or PUBLISH_FAILED.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE, PUBLISH_FAILED}.</p> <p><strong>Quota:</strong> MAX_VERSIONS_PER_DATASET applies to published versions only (not DRAFT).</p>"
    },
    "CreateEvaluationJob":{
      "name":"CreateEvaluationJob",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs/create",
        "responseCode":202
      },
      "input":{"shape":"CreateEvaluationJobRequest"},
      "output":{"shape":"CreateEvaluationJobResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateEvaluator":{
      "name":"CreateEvaluator",
      "http":{
        "method":"POST",
        "requestUri":"/evaluators/create",
        "responseCode":202
      },
      "input":{"shape":"CreateEvaluatorRequest"},
      "output":{"shape":"CreateEvaluatorResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateOnlineEvaluationConfig":{
      "name":"CreateOnlineEvaluationConfig",
      "http":{
        "method":"POST",
        "requestUri":"/online-evaluation-configs/create",
        "responseCode":202
      },
      "input":{"shape":"CreateOnlineEvaluationConfigRequest"},
      "output":{"shape":"CreateOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteConfigurationBundle":{
      "name":"DeleteConfigurationBundle",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteConfigurationBundleRequest"},
      "output":{"shape":"DeleteConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"DELETE",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "output":{"shape":"DeleteDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a dataset version or an entire dataset (all versions + name claim). Asynchronous 202.</p> <p><strong>State transitions:</strong></p> <ul> <li>If <code>datasetVersion</code> is absent (full delete): status transitions to DELETING immediately.</li> <li>If <code>datasetVersion</code> is provided (version-specific delete): status transitions to UPDATING.</li> </ul> <p><strong>State guard (full delete):</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is in {CREATING, UPDATING}. Deletion is allowed from ACTIVE, CREATE_FAILED, UPDATE_FAILED, and DELETE_FAILED states.</p> <p><strong>State guard (version-specific delete):</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {ACTIVE, CREATE_FAILED, UPDATE_FAILED}.</p> <p>Fails with ConflictException (REFERENCED_BY_EVAL_JOB) if referenced by an active evaluation job (full delete only).</p> <p>If the delete workflow fails after retries, status is set to DELETE_FAILED (full delete) or UPDATE_FAILED (version-specific delete). Calling DeleteDataset on a DELETE_FAILED dataset re-triggers the delete workflow (idempotent retry path).</p> <p><strong>Version parameter:</strong></p> <ul> <li>If <code>datasetVersion</code> is absent: deletes ALL versions and the Dataset record itself.</li> <li>If <code>datasetVersion</code> is provided: deletes only that specific DatasetVersion. Returns ResourceNotFoundException if the specified version does not exist.</li> </ul>",
      "idempotent":true
    },
    "DeleteDatasetExamples":{
      "name":"DeleteDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/delete",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetExamplesRequest"},
      "output":{"shape":"DeleteDatasetExamplesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes specific examples by ID from DRAFT.</p> <p><strong>Validation:</strong> All example IDs are validated before any deletes occur. If any ID does not exist in DRAFT, the entire batch is rejected with ResourceNotFoundException — no examples are deleted (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p>"
    },
    "DeleteEvaluationJob":{
      "name":"DeleteEvaluationJob",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluation-jobs/{evaluationJobId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteEvaluationJobRequest"},
      "output":{"shape":"DeleteEvaluationJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteEvaluator":{
      "name":"DeleteEvaluator",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteEvaluatorRequest"},
      "output":{"shape":"DeleteEvaluatorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteOnlineEvaluationConfig":{
      "name":"DeleteOnlineEvaluationConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteOnlineEvaluationConfigRequest"},
      "output":{"shape":"DeleteOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "GetConfigurationBundle":{
      "name":"GetConfigurationBundle",
      "http":{
        "method":"GET",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationBundleRequest"},
      "output":{"shape":"GetConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetConfigurationBundleVersion":{
      "name":"GetConfigurationBundleVersion",
      "http":{
        "method":"GET",
        "requestUri":"/configuration-bundles/{bundleId}/versions/{versionId}",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationBundleVersionRequest"},
      "output":{"shape":"GetConfigurationBundleVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetDataset":{
      "name":"GetDataset",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":200
      },
      "input":{"shape":"GetDatasetRequest"},
      "output":{"shape":"GetDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves dataset metadata only.</p> <p>Use <code>?datasetVersion=DRAFT</code> or <code>?datasetVersion=N</code> to retrieve a specific version's metadata. If absent, defaults to DRAFT (the latest unpublished version). Returns ResourceNotFoundException if the specified version is not found.</p> <p><strong>State guard:</strong> Returns ConflictException (DELETION_IN_PROGRESS) if the dataset status is DELETING — the resource exists but is mid-deletion and should not be read.</p> <p>For paginated example IDs use ListDatasetExamples.</p>",
      "readonly":true
    },
    "GetEvaluationJob":{
      "name":"GetEvaluationJob",
      "http":{
        "method":"GET",
        "requestUri":"/evaluation-jobs/{evaluationJobId}",
        "responseCode":200
      },
      "input":{"shape":"GetEvaluationJobRequest"},
      "output":{"shape":"GetEvaluationJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetEvaluator":{
      "name":"GetEvaluator",
      "http":{
        "method":"GET",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":200
      },
      "input":{"shape":"GetEvaluatorRequest"},
      "output":{"shape":"GetEvaluatorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetOnlineEvaluationConfig":{
      "name":"GetOnlineEvaluationConfig",
      "http":{
        "method":"GET",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":200
      },
      "input":{"shape":"GetOnlineEvaluationConfigRequest"},
      "output":{"shape":"GetOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListConfigurationBundleVersions":{
      "name":"ListConfigurationBundleVersions",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles/{bundleId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListConfigurationBundleVersionsRequest"},
      "output":{"shape":"ListConfigurationBundleVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListConfigurationBundles":{
      "name":"ListConfigurationBundles",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles",
        "responseCode":200
      },
      "input":{"shape":"ListConfigurationBundlesRequest"},
      "output":{"shape":"ListConfigurationBundlesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListDatasetExamples":{
      "name":"ListDatasetExamples",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}/examples",
        "responseCode":200
      },
      "input":{"shape":"ListDatasetExamplesRequest"},
      "output":{"shape":"ListDatasetExamplesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns paginated example IDs from the dataset.</p> <p><strong>Version-pinned pagination:</strong> The server embeds the resolved version in the <code>nextToken</code>. Once pagination begins, all subsequent pages are pinned to that version regardless of concurrent mutations or whether <code>datasetVersion</code> is passed on subsequent requests. The <code>datasetVersion</code> query parameter is only used for the first request (when <code>nextToken</code> is absent); if omitted, defaults to DRAFT.</p> <p><strong>State guard:</strong> Returns ConflictException (DELETION_IN_PROGRESS) if the dataset status is DELETING.</p>",
      "readonly":true
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"GET",
        "requestUri":"/datasets",
        "responseCode":200
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all datasets in the caller's account, paginated. No presigned URLs in list results.</p>",
      "readonly":true
    },
    "ListEvaluationJobs":{
      "name":"ListEvaluationJobs",
      "http":{
        "method":"POST",
        "requestUri":"/evaluation-jobs",
        "responseCode":200
      },
      "input":{"shape":"ListEvaluationJobsRequest"},
      "output":{"shape":"ListEvaluationJobsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListEvaluators":{
      "name":"ListEvaluators",
      "http":{
        "method":"POST",
        "requestUri":"/evaluators",
        "responseCode":200
      },
      "input":{"shape":"ListEvaluatorsRequest"},
      "output":{"shape":"ListEvaluatorsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListOnlineEvaluationConfigs":{
      "name":"ListOnlineEvaluationConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/online-evaluation-configs",
        "responseCode":200
      },
      "input":{"shape":"ListOnlineEvaluationConfigsRequest"},
      "output":{"shape":"ListOnlineEvaluationConfigsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "UpdateConfigurationBundle":{
      "name":"UpdateConfigurationBundle",
      "http":{
        "method":"PUT",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfigurationBundleRequest"},
      "output":{"shape":"UpdateConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateDataset":{
      "name":"UpdateDataset",
      "http":{
        "method":"PUT",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDatasetRequest"},
      "output":{"shape":"UpdateDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a dataset's metadata. Synchronous operation. Only provided fields are updated; omitted fields remain unchanged.</p> <p>To modify dataset content, use AddDatasetExamples, UpdateDatasetExamples, or DeleteDatasetExamples.</p> <p>Cannot update: name, schemaType, kmsKeyArn (immutable after creation).</p>",
      "idempotent":true
    },
    "UpdateDatasetExamples":{
      "name":"UpdateDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/update",
        "responseCode":202
      },
      "input":{"shape":"UpdateDatasetExamplesRequest"},
      "output":{"shape":"UpdateDatasetExamplesResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates multiple existing examples in-place on DRAFT.</p> <p><strong>Validation:</strong> All examples are validated against the dataset's schemaType before any writes occur. If any example fails validation, the entire batch is rejected with ValidationException — no examples are updated (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p>Fails with ResourceNotFoundException if any exampleId does not exist in DRAFT. To add new examples, use AddDatasetExamples instead.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p> <p><strong>Request size limit:</strong> Max 5 MB total request body. Max 1000 examples per call.</p>"
    },
    "UpdateEvaluationJob":{
      "name":"UpdateEvaluationJob",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluation-jobs/{evaluationJobId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateEvaluationJobRequest"},
      "output":{"shape":"UpdateEvaluationJobResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateEvaluator":{
      "name":"UpdateEvaluator",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateEvaluatorRequest"},
      "output":{"shape":"UpdateEvaluatorResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateOnlineEvaluationConfig":{
      "name":"UpdateOnlineEvaluationConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateOnlineEvaluationConfigRequest"},
      "output":{"shape":"UpdateOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AddDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "examples"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "examples":{
          "shape":"AddDatasetExamplesRequestExamplesList",
          "documentation":"<p>Examples to add. Each example is assigned an auto-generated UUID. Max 1000 examples per call. Total request body must not exceed 5 MB.</p>"
        }
      }
    },
    "AddDatasetExamplesRequestExamplesList":{
      "type":"list",
      "member":{"shape":"DatasetExample"},
      "max":1000,
      "min":1
    },
    "AddDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "addedCount",
        "updatedAt",
        "exampleIds"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "addedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"},
        "exampleIds":{
          "shape":"ExampleIdList",
          "documentation":"<p>IDs of all added examples (auto-generated UUIDs).</p>"
        }
      }
    },
    "AdditionalModelRequestFields":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "BedrockEvaluatorModelConfig":{
      "type":"structure",
      "required":["modelId"],
      "members":{
        "modelId":{"shape":"ModelId"},
        "inferenceConfig":{"shape":"InferenceConfiguration"},
        "additionalModelRequestFields":{"shape":"AdditionalModelRequestFields"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BranchName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9_/-]{0,127}"
    },
    "CategoricalScaleDefinition":{
      "type":"structure",
      "required":[
        "definition",
        "label"
      ],
      "members":{
        "definition":{"shape":"String"},
        "label":{"shape":"CategoricalScaleDefinitionLabelString"}
      }
    },
    "CategoricalScaleDefinitionLabelString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "CategoricalScaleDefinitions":{
      "type":"list",
      "member":{"shape":"CategoricalScaleDefinition"}
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "CloudWatchLogsInputConfig":{
      "type":"structure",
      "required":[
        "logGroupNames",
        "serviceNames"
      ],
      "members":{
        "logGroupNames":{"shape":"CloudWatchLogsInputConfigLogGroupNamesList"},
        "serviceNames":{"shape":"CloudWatchLogsInputConfigServiceNamesList"}
      }
    },
    "CloudWatchLogsInputConfigLogGroupNamesList":{
      "type":"list",
      "member":{"shape":"LogGroupName"},
      "max":5,
      "min":1
    },
    "CloudWatchLogsInputConfigServiceNamesList":{
      "type":"list",
      "member":{"shape":"ServiceName"},
      "max":1,
      "min":1
    },
    "CloudWatchOutputConfig":{
      "type":"structure",
      "required":["logGroupName"],
      "members":{
        "logGroupName":{"shape":"LogGroupName"}
      }
    },
    "CodeBasedEvaluatorConfig":{
      "type":"structure",
      "members":{
        "lambdaConfig":{"shape":"LambdaEvaluatorConfig"}
      },
      "union":true
    },
    "ComponentConfiguration":{
      "type":"structure",
      "required":["configuration"],
      "members":{
        "configuration":{"shape":"Document"}
      }
    },
    "ComponentConfigurationMap":{
      "type":"map",
      "key":{"shape":"ComponentIdentifier"},
      "value":{"shape":"ComponentConfiguration"}
    },
    "ComponentIdentifier":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9_:/.\\-]{0,2047}"
    },
    "ConfigurationBundleArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:configuration-bundle/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleDescription":{
      "type":"string",
      "max":500,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "ConfigurationBundleId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,99}"
    },
    "ConfigurationBundleStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED"
      ]
    },
    "ConfigurationBundleSummary":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"}
      }
    },
    "ConfigurationBundleSummaryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleSummary"}
    },
    "ConfigurationBundleVersion":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ConfigurationBundleVersionList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleVersion"}
    },
    "ConfigurationBundleVersionSummary":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "versionCreatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "versionCreatedAt":{"shape":"Timestamp"}
      }
    },
    "ConfigurationBundleVersionSummaryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleVersionSummary"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateConfigurationBundleRequest":{
      "type":"structure",
      "required":[
        "bundleName",
        "components"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "components":{"shape":"ComponentConfigurationMap"},
        "branchName":{"shape":"BranchName"},
        "commitMessage":{"shape":"CreateConfigurationBundleRequestCommitMessageString"},
        "createdBy":{"shape":"VersionCreatedBySource"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateConfigurationBundleRequestCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CreateConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "createdAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateDatasetRequest":{
      "type":"structure",
      "required":[
        "datasetName",
        "source",
        "schemaType"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Optional idempotency token.</p>",
          "idempotencyToken":true
        },
        "datasetName":{
          "shape":"DatasetName",
          "documentation":"<p>Human-readable name for the dataset. Unique within the account (case-insensitive). Immutable after creation.</p>"
        },
        "description":{"shape":"CreateDatasetRequestDescriptionString"},
        "source":{
          "shape":"DatasetSource",
          "documentation":"<p>Source of the dataset file.</p>"
        },
        "schemaType":{
          "shape":"SchemaType",
          "documentation":"<p>Versioned schema type governing the structure of examples. Immutable after creation.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Optional AWS KMS key ARN for SSE-KMS on service S3 writes.</p>"
        },
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateDatasetRequestDescriptionString":{
      "type":"string",
      "max":200,
      "min":0
    },
    "CreateDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "createdAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Always CREATING immediately after this call. Poll GetDataset until ACTIVE or CREATE_FAILED.</p>"
        },
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateDatasetVersionRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateDatasetVersionResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "datasetVersion",
        "createdAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Always PUBLISHING immediately after this call. Poll GetDataset until ACTIVE or PUBLISH_FAILED.</p>"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version being created.</p>"
        },
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateEvaluationJobRequest":{
      "type":"structure",
      "required":[
        "name",
        "configuration",
        "evaluationJobExecutionRole"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "name":{"shape":"EvaluationJobName"},
        "description":{"shape":"EvaluationJobDescription"},
        "configuration":{"shape":"EvaluationJobConfiguration"},
        "evaluationJobExecutionRole":{"shape":"RoleArn"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateEvaluationJobResponse":{
      "type":"structure",
      "required":[
        "evaluationJobId",
        "evaluationJobArn",
        "name",
        "configuration",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluationJobId":{"shape":"EvaluationJobId"},
        "evaluationJobArn":{"shape":"EvaluationJobArn"},
        "name":{"shape":"EvaluationJobName"},
        "description":{"shape":"EvaluationJobDescription"},
        "configuration":{"shape":"EvaluationJobConfiguration"},
        "status":{"shape":"EvaluationJobStatus"},
        "outputConfig":{"shape":"OutputConfig"},
        "tags":{"shape":"TagsMap"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "CreateEvaluatorRequest":{
      "type":"structure",
      "required":[
        "evaluatorName",
        "evaluatorConfig",
        "level"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluatorName":{"shape":"CustomEvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "createdAt",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"CustomEvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "createdAt":{"shape":"Timestamp"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "CreateOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigName",
        "rule",
        "dataSourceConfig",
        "evaluationExecutionRoleArn",
        "enableOnCreate"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "enableOnCreate":{"shape":"Boolean"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "createdAt",
        "status",
        "executionStatus"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "createdAt":{"shape":"Timestamp"},
        "outputConfig":{"shape":"OutputConfig"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "failureReason":{"shape":"String"}
      }
    },
    "CustomEvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "CustomEvaluatorName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "DataSourceConfig":{
      "type":"structure",
      "members":{
        "cloudWatchLogs":{"shape":"CloudWatchLogsInputConfig"}
      },
      "union":true
    },
    "DatasetArn":{
      "type":"string",
      "pattern":"arn:aws(-[a-z]+)*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:dataset/[a-zA-Z0-9-]{1,110}"
    },
    "DatasetExample":{
      "type":"structure",
      "required":["content"],
      "members":{
        "content":{
          "shape":"Document",
          "documentation":"<p>Validated against dataset.schemaType by SchemaRegistry at write time. Stored as-is.</p>"
        }
      },
      "documentation":"<p>A single example in a dataset.</p> <p><code>content</code> is a free-form JSON Document whose structure is defined by the dataset's <code>schemaType</code>. The service validates <code>content</code> against the declared schema at write time using <code>SchemaRegistry</code>. Content is stored as-is — no normalization is applied.</p>"
    },
    "DatasetExampleUpdate":{
      "type":"structure",
      "required":[
        "exampleId",
        "content"
      ],
      "members":{
        "exampleId":{
          "shape":"ExampleId",
          "documentation":"<p>Must exist in DRAFT; fails with ResourceNotFoundException if not found.</p>"
        },
        "content":{
          "shape":"Document",
          "documentation":"<p>New content for the example. Validated against dataset.schemaType at write time.</p>"
        }
      },
      "documentation":"<p>An example update entry containing the exampleId and new content.</p>"
    },
    "DatasetId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9-]{1,110}"
    },
    "DatasetName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "DatasetSource":{
      "type":"structure",
      "members":{
        "s3":{
          "shape":"S3DatasetSource",
          "documentation":"<p>Customer S3 URI. Service reads using the caller's FAS credentials.</p>"
        },
        "inlineContent":{
          "shape":"InlineContent",
          "documentation":"<p>Raw file bytes embedded in the request body. Maximum 5 MB decoded. For larger files, upload to S3 and use the <code>s3</code> union member.</p>"
        }
      },
      "documentation":"<p>Source of the dataset file. Either a customer S3 URI or inline bytes.</p> <p>Inline content is limited to 5 MB (enforced by @length constraint on the content blob). For files larger than 5 MB, use the s3 union member with a pre-uploaded S3 URI.</p>",
      "union":true
    },
    "DatasetStatus":{
      "type":"string",
      "documentation":"<p>Dataset lifecycle status.</p> <p>State transition rules: CreateDataset: CREATING → DRAFT | CREATE_FAILED CreateDatasetVersion: DRAFT | ACTIVE | PUBLISH_FAILED → PUBLISHING → ACTIVE | PUBLISH_FAILED AddDatasetExamples / UpdateDatasetExamples / DeleteDatasetExamples: (asynchronous, in-place on DRAFT — no status change) Allowed when status in {DRAFT, ACTIVE} Error state if operation fails: UPDATE_FAILED DeleteDataset (full): DELETING → (record deleted) | DELETE_FAILED</p> <p>Operation guards: GetDataset / ListDatasetExamples: ConflictException(DELETION_IN_PROGRESS) if status == DELETING CreateDatasetVersion: ConflictException(DATASET_NOT_READY) if status not in {DRAFT, ACTIVE, PUBLISH_FAILED} AddDatasetExamples / UpdateDatasetExamples / DeleteDatasetExamples: ConflictException(DATASET_NOT_READY) if status not in {DRAFT, ACTIVE} UpdateDataset: ConflictException(DATASET_NOT_READY) if status not in {DRAFT, ACTIVE, CREATE_FAILED, UPDATE_FAILED, PUBLISH_FAILED} DeleteDataset: ConflictException(DATASET_NOT_READY) if status in {CREATING, PUBLISHING}</p>",
      "enum":[
        "CREATING",
        "DRAFT",
        "PUBLISHING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATE_FAILED",
        "PUBLISH_FAILED",
        "DELETING",
        "DELETE_FAILED"
      ]
    },
    "DatasetSummary":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetName",
        "status",
        "schemaType",
        "exampleCount",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetName":{"shape":"DatasetName"},
        "description":{"shape":"String"},
        "status":{"shape":"DatasetStatus"},
        "schemaType":{"shape":"SchemaType"},
        "exampleCount":{"shape":"Long"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DatasetSummaryList":{
      "type":"list",
      "member":{"shape":"DatasetSummary"}
    },
    "DatasetVersion":{
      "type":"string",
      "documentation":"<p>Dataset version. Accepts &quot;DRAFT&quot; or a version number.</p>",
      "pattern":"(DRAFT|[0-9]+)"
    },
    "DeleteConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        }
      }
    },
    "DeleteConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleId",
        "status"
      ],
      "members":{
        "bundleId":{"shape":"ConfigurationBundleId"},
        "status":{"shape":"ConfigurationBundleStatus"}
      }
    },
    "DeleteDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "exampleIds"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "exampleIds":{"shape":"DeleteDatasetExamplesRequestExampleIdsList"}
      }
    },
    "DeleteDatasetExamplesRequestExampleIdsList":{
      "type":"list",
      "member":{"shape":"ExampleId"},
      "max":1000,
      "min":1
    },
    "DeleteDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "deletedCount",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "deletedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DeleteDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Optional version to delete. Use &quot;DRAFT&quot; or omit to delete the draft. Returns ResourceNotFoundException if the specified version does not exist.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        }
      }
    },
    "DeleteDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "datasetVersion",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version deleted.</p>"
        },
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DeleteEvaluationJobRequest":{
      "type":"structure",
      "required":["evaluationJobId"],
      "members":{
        "evaluationJobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"evaluationJobId"
        }
      }
    },
    "DeleteEvaluationJobResponse":{
      "type":"structure",
      "required":[
        "evaluationJobArn",
        "evaluationJobId",
        "status"
      ],
      "members":{
        "evaluationJobArn":{"shape":"EvaluationJobArn"},
        "evaluationJobId":{"shape":"EvaluationJobId"},
        "status":{"shape":"EvaluationJobStatus"}
      }
    },
    "DeleteEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        }
      }
    },
    "DeleteEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "DeleteOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        }
      }
    },
    "DeleteOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "status"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "status":{"shape":"OnlineEvaluationConfigStatus"}
      }
    },
    "Document":{
      "type":"structure",
      "members":{},
      "documentation":"<p>Free-form JSON document. Used for dataset example content whose structure is governed by the dataset's schemaType.</p>",
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "EvaluationConfigDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "EvaluationConfigName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "EvaluationConfiguration":{
      "type":"structure",
      "required":["evaluators"],
      "members":{
        "evaluators":{"shape":"EvaluatorList"}
      }
    },
    "EvaluationJobArn":{
      "type":"string",
      "pattern":"arn:aws[a-z\\-]*:bedrock-agentcore:[a-z0-9\\-]+:[0-9]{12}:evaluation-job/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "EvaluationJobConfiguration":{
      "type":"structure",
      "members":{
        "evaluationConfig":{"shape":"EvaluationConfiguration"},
        "insightsJobConfig":{"shape":"InsightsJobConfiguration"}
      }
    },
    "EvaluationJobDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "EvaluationJobId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "EvaluationJobName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "EvaluationJobStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "INACTIVE",
        "FAILED",
        "DELETING"
      ]
    },
    "EvaluationJobSummary":{
      "type":"structure",
      "required":[
        "evaluationJobArn",
        "evaluationJobId",
        "name",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluationJobArn":{"shape":"EvaluationJobArn"},
        "evaluationJobId":{"shape":"EvaluationJobId"},
        "name":{"shape":"EvaluationJobName"},
        "description":{"shape":"EvaluationJobDescription"},
        "status":{"shape":"EvaluationJobStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "EvaluationJobSummaryList":{
      "type":"list",
      "member":{"shape":"EvaluationJobSummary"}
    },
    "EvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$|^arn:aws:bedrock-agentcore:::evaluator/Builtin.[a-zA-Z0-9_-]+"
    },
    "EvaluatorConfig":{
      "type":"structure",
      "members":{
        "llmAsAJudge":{"shape":"LlmAsAJudgeEvaluatorConfig"},
        "codeBased":{"shape":"CodeBasedEvaluatorConfig"}
      },
      "union":true
    },
    "EvaluatorDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "sensitive":true
    },
    "EvaluatorId":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10})"
    },
    "EvaluatorInstructions":{
      "type":"string",
      "sensitive":true
    },
    "EvaluatorLevel":{
      "type":"string",
      "enum":[
        "TOOL_CALL",
        "TRACE",
        "SESSION"
      ]
    },
    "EvaluatorList":{
      "type":"list",
      "member":{"shape":"EvaluatorReference"},
      "max":10,
      "min":0
    },
    "EvaluatorModelConfig":{
      "type":"structure",
      "members":{
        "bedrockEvaluatorModelConfig":{"shape":"BedrockEvaluatorModelConfig"}
      },
      "union":true
    },
    "EvaluatorName":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9_]{0,47})"
    },
    "EvaluatorReference":{
      "type":"structure",
      "members":{
        "evaluatorId":{"shape":"EvaluatorId"}
      },
      "union":true
    },
    "EvaluatorStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING"
      ]
    },
    "EvaluatorSummary":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "evaluatorType",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorType":{"shape":"EvaluatorType"},
        "level":{"shape":"EvaluatorLevel"},
        "status":{"shape":"EvaluatorStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "lockedForModification":{"shape":"Boolean"}
      }
    },
    "EvaluatorSummaryList":{
      "type":"list",
      "member":{"shape":"EvaluatorSummary"}
    },
    "EvaluatorType":{
      "type":"string",
      "enum":[
        "Builtin",
        "Custom",
        "CustomCode"
      ]
    },
    "ExampleId":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9_.:-]+"
    },
    "ExampleIdList":{
      "type":"list",
      "member":{"shape":"ExampleId"}
    },
    "Filter":{
      "type":"structure",
      "required":[
        "key",
        "operator",
        "value"
      ],
      "members":{
        "key":{"shape":"FilterKeyString"},
        "operator":{"shape":"FilterOperator"},
        "value":{"shape":"FilterValue"}
      }
    },
    "FilterKeyString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":5,
      "min":0
    },
    "FilterOperator":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThan",
        "LessThan",
        "GreaterThanOrEqual",
        "LessThanOrEqual",
        "Contains",
        "NotContains"
      ]
    },
    "FilterValue":{
      "type":"structure",
      "members":{
        "stringValue":{"shape":"FilterValueStringValueString"},
        "doubleValue":{"shape":"Double"},
        "booleanValue":{"shape":"Boolean"}
      },
      "union":true
    },
    "FilterValueStringValueString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "GetConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "branchName":{
          "shape":"BranchName",
          "location":"querystring",
          "locationName":"branchName"
        }
      }
    },
    "GetConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName",
        "versionId",
        "components",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "components":{"shape":"ComponentConfigurationMap"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetConfigurationBundleVersionRequest":{
      "type":"structure",
      "required":[
        "bundleId",
        "versionId"
      ],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "versionId":{
          "shape":"ConfigurationBundleVersion",
          "location":"uri",
          "locationName":"versionId"
        }
      }
    },
    "GetConfigurationBundleVersionResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName",
        "versionId",
        "components",
        "createdAt",
        "versionCreatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "components":{"shape":"ComponentConfigurationMap"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "createdAt":{"shape":"Timestamp"},
        "versionCreatedAt":{"shape":"Timestamp"}
      }
    },
    "GetDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Version to retrieve: &quot;DRAFT&quot; or a version number. Defaults to DRAFT if absent.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        }
      }
    },
    "GetDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetName",
        "status",
        "exampleCount",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetName":{"shape":"DatasetName"},
        "description":{"shape":"String"},
        "status":{"shape":"DatasetStatus"},
        "failureReason":{
          "shape":"String",
          "documentation":"<p>Populated when status is CREATE_FAILED, UPDATE_FAILED, PUBLISH_FAILED, or DELETE_FAILED.</p>"
        },
        "source":{
          "shape":"DatasetSource",
          "documentation":"<p>Indicates how the dataset was originally provided. For S3-sourced datasets, contains the S3 URI. For inline-created datasets, this field is omitted.</p>"
        },
        "schemaType":{
          "shape":"SchemaType",
          "documentation":"<p>The schema type declared at create time. Immutable after creation.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>AWS KMS key ARN used for SSE-KMS on service S3 writes, if configured.</p>"
        },
        "exampleCount":{
          "shape":"Long",
          "documentation":"<p>Example count for DRAFT.</p>"
        },
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetEvaluationJobRequest":{
      "type":"structure",
      "required":["evaluationJobId"],
      "members":{
        "evaluationJobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"evaluationJobId"
        }
      }
    },
    "GetEvaluationJobResponse":{
      "type":"structure",
      "required":[
        "evaluationJobArn",
        "evaluationJobId",
        "name",
        "configuration",
        "evaluationJobExecutionRole",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluationJobArn":{"shape":"EvaluationJobArn"},
        "evaluationJobId":{"shape":"EvaluationJobId"},
        "name":{"shape":"EvaluationJobName"},
        "description":{"shape":"EvaluationJobDescription"},
        "configuration":{"shape":"EvaluationJobConfiguration"},
        "evaluationJobExecutionRole":{"shape":"RoleArn"},
        "status":{"shape":"EvaluationJobStatus"},
        "tags":{"shape":"TagsMap"},
        "outputConfig":{"shape":"OutputConfig"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        }
      }
    },
    "GetEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "evaluatorConfig",
        "level",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"},
        "status":{"shape":"EvaluatorStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "lockedForModification":{"shape":"Boolean"}
      }
    },
    "GetOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        }
      }
    },
    "GetOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "onlineEvaluationConfigName",
        "rule",
        "dataSourceConfig",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "outputConfig":{"shape":"OutputConfig"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "failureReason":{"shape":"String"}
      }
    },
    "InferenceConfiguration":{
      "type":"structure",
      "members":{
        "maxTokens":{"shape":"InferenceConfigurationMaxTokensInteger"},
        "temperature":{"shape":"InferenceConfigurationTemperatureFloat"},
        "topP":{"shape":"InferenceConfigurationTopPFloat"},
        "stopSequences":{"shape":"InferenceConfigurationStopSequencesList"}
      }
    },
    "InferenceConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "InferenceConfigurationStopSequencesList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":2500,
      "min":0
    },
    "InferenceConfigurationTemperatureFloat":{
      "type":"float",
      "box":true,
      "max":1,
      "min":0
    },
    "InferenceConfigurationTopPFloat":{
      "type":"float",
      "box":true,
      "max":1,
      "min":0
    },
    "InlineContent":{
      "type":"structure",
      "required":["content"],
      "members":{
        "content":{
          "shape":"InlineContentContentBlob",
          "documentation":"<p>Maximum 5 MB (5,242,880 bytes). Use S3 source for larger files.</p>"
        }
      }
    },
    "InlineContentContentBlob":{
      "type":"blob",
      "max":5242880,
      "min":0
    },
    "Insight":{
      "type":"structure",
      "required":["insightId"],
      "members":{
        "insightId":{"shape":"InsightId"}
      }
    },
    "InsightId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9._]+"
    },
    "InsightList":{
      "type":"list",
      "member":{"shape":"Insight"},
      "max":10,
      "min":0
    },
    "InsightsJobConfiguration":{
      "type":"structure",
      "required":["insightsTypes"],
      "members":{
        "insightsTypes":{"shape":"InsightsTypeList"}
      }
    },
    "InsightsType":{
      "type":"string",
      "enum":["FAILURE_ANALYSIS"]
    },
    "InsightsTypeList":{
      "type":"list",
      "member":{"shape":"InsightsType"}
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KmsKeyArn":{
      "type":"string",
      "documentation":"<p>Supports both standard single-region keys (UUID format) and multi-region keys (mrk- prefix).</p>",
      "pattern":"arn:aws(-[a-z]+)*:kms:[a-z0-9-]+:[0-9]{12}:key/(mrk-[a-f0-9]{32}|[a-f0-9-]{36})"
    },
    "LambdaArn":{
      "type":"string",
      "pattern":"arn:(aws[a-zA-Z-]*)?:lambda:([a-z]{2}(-gov)?-[a-z]+-\\d{1}):(\\d{12}):function:([a-zA-Z0-9-_.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "LambdaEvaluatorConfig":{
      "type":"structure",
      "required":["lambdaArn"],
      "members":{
        "lambdaArn":{"shape":"LambdaArn"},
        "lambdaTimeoutInSeconds":{"shape":"LambdaEvaluatorConfigLambdaTimeoutInSecondsInteger"}
      }
    },
    "LambdaEvaluatorConfigLambdaTimeoutInSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":300,
      "min":1
    },
    "ListConfigurationBundleVersionsRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListConfigurationBundleVersionsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "filter":{"shape":"VersionFilter"}
      }
    },
    "ListConfigurationBundleVersionsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListConfigurationBundleVersionsResponse":{
      "type":"structure",
      "required":["versions"],
      "members":{
        "versions":{"shape":"ConfigurationBundleVersionSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListConfigurationBundlesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListConfigurationBundlesRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListConfigurationBundlesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListConfigurationBundlesResponse":{
      "type":"structure",
      "required":["bundles"],
      "members":{
        "bundles":{"shape":"ConfigurationBundleSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListDatasetExamplesRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Version to paginate: &quot;DRAFT&quot; or a version number. Defaults to DRAFT if absent. Only used on the first request (when nextToken is absent). For subsequent pages, the version is extracted from the nextToken and this parameter is ignored.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        },
        "maxResults":{
          "shape":"ListDatasetExamplesRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"ListDatasetExamplesRequestNextTokenString",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListDatasetExamplesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListDatasetExamplesRequestNextTokenString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "ListDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetVersion",
        "exampleIds"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version returned.</p>"
        },
        "exampleIds":{
          "shape":"ExampleIdList",
          "documentation":"<p>List of example IDs in this page.</p>"
        },
        "nextToken":{"shape":"String"}
      }
    },
    "ListDatasetsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"ListDatasetsRequestNextTokenString",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListDatasetsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListDatasetsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListDatasetsRequestNextTokenString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "ListDatasetsResponse":{
      "type":"structure",
      "required":["datasets"],
      "members":{
        "datasets":{"shape":"DatasetSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListEvaluationJobsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListEvaluationJobsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListEvaluationJobsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListEvaluationJobsResponse":{
      "type":"structure",
      "required":["evaluationJobs"],
      "members":{
        "evaluationJobs":{"shape":"EvaluationJobSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListEvaluatorsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListEvaluatorsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListEvaluatorsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListEvaluatorsResponse":{
      "type":"structure",
      "required":["evaluators"],
      "members":{
        "evaluators":{"shape":"EvaluatorSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListOnlineEvaluationConfigsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListOnlineEvaluationConfigsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListOnlineEvaluationConfigsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListOnlineEvaluationConfigsResponse":{
      "type":"structure",
      "required":["onlineEvaluationConfigs"],
      "members":{
        "onlineEvaluationConfigs":{"shape":"OnlineEvaluationConfigSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "LlmAsAJudgeEvaluatorConfig":{
      "type":"structure",
      "required":[
        "instructions",
        "ratingScale",
        "modelConfig"
      ],
      "members":{
        "instructions":{"shape":"EvaluatorInstructions"},
        "ratingScale":{"shape":"RatingScale"},
        "modelConfig":{"shape":"EvaluatorModelConfig"}
      }
    },
    "LogGroupName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[.\\-_/#A-Za-z0-9]+"
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "ModelId":{"type":"string"},
    "NonBlankString":{
      "type":"string",
      "pattern":"[\\s\\S]+"
    },
    "NonEmptyString":{
      "type":"string",
      "min":1
    },
    "NumericalScaleDefinition":{
      "type":"structure",
      "required":[
        "definition",
        "value",
        "label"
      ],
      "members":{
        "definition":{"shape":"String"},
        "value":{"shape":"NumericalScaleDefinitionValueDouble"},
        "label":{"shape":"NumericalScaleDefinitionLabelString"}
      }
    },
    "NumericalScaleDefinitionLabelString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "NumericalScaleDefinitionValueDouble":{
      "type":"double",
      "box":true,
      "min":0
    },
    "NumericalScaleDefinitions":{
      "type":"list",
      "member":{"shape":"NumericalScaleDefinition"}
    },
    "OnlineEvaluationConfigArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:online-evaluation-config\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OnlineEvaluationConfigId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OnlineEvaluationConfigStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING"
      ]
    },
    "OnlineEvaluationConfigSummary":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "onlineEvaluationConfigName",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "failureReason":{"shape":"String"},
        "insights":{"shape":"InsightList"}
      }
    },
    "OnlineEvaluationConfigSummaryList":{
      "type":"list",
      "member":{"shape":"OnlineEvaluationConfigSummary"}
    },
    "OnlineEvaluationExecutionStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "OutputConfig":{
      "type":"structure",
      "required":["cloudWatchConfig"],
      "members":{
        "cloudWatchConfig":{"shape":"CloudWatchOutputConfig"}
      }
    },
    "RatingScale":{
      "type":"structure",
      "members":{
        "numerical":{"shape":"NumericalScaleDefinitions"},
        "categorical":{"shape":"CategoricalScaleDefinitions"}
      },
      "sensitive":true,
      "union":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "Rule":{
      "type":"structure",
      "required":["samplingConfig"],
      "members":{
        "samplingConfig":{"shape":"SamplingConfig"},
        "filters":{"shape":"FilterList"},
        "sessionConfig":{"shape":"SessionConfig"}
      }
    },
    "S3DatasetSource":{
      "type":"structure",
      "required":["s3Uri"],
      "members":{
        "s3Uri":{
          "shape":"S3DatasetSourceS3UriString",
          "documentation":"<p>S3 URI in format s3://bucket-name/path/to/file. Path must be URL-encoded if it contains special characters.</p>"
        }
      }
    },
    "S3DatasetSourceS3UriString":{
      "type":"string",
      "pattern":"s3://[a-z0-9][a-z0-9.-]{1,61}[a-z0-9]/.+"
    },
    "SamplingConfig":{
      "type":"structure",
      "required":["samplingPercentage"],
      "members":{
        "samplingPercentage":{"shape":"SamplingConfigSamplingPercentageDouble"}
      }
    },
    "SamplingConfigSamplingPercentageDouble":{
      "type":"double",
      "box":true,
      "max":100.0,
      "min":0.01
    },
    "SchemaType":{
      "type":"string",
      "documentation":"<p>Format of a customer-provided source file.</p> <p><strong>JSONL</strong> (JSON Lines, one object per line) is the service's native ingestion and storage format — it can be streamed line-by-line without loading the entire file into memory, which is important as the row-count cap is extended.</p> <p><strong>JSON array (<code>[{...},{...}]</code>) is intentionally not supported</strong> at launch: it cannot be streamed (requires loading the full file into memory to parse), and all major eval frameworks (LangSmith, Ragas, DeepEval, Arize Phoenix) export as JSONL or CSV — not JSON arrays. Customers with JSON array files can Versioned schema type for dataset examples.</p> <p>Each value identifies both the source format and the version of that format's schema. Schema definitions (required/optional fields) are stored as constants in SchemaRegistry. The schemaType on a Dataset is immutable after creation.</p> <p>When a framework changes its format, a new version is added (e.g., RAGAS_V2) without breaking existing datasets using the old version. Content is always stored as-is.</p>",
      "enum":[
        "AGENTCORE_EVALUATION_PREDEFINED_V1",
        "AGENTCORE_EVALUATION_SIMULATED_V1"
      ]
    },
    "ServiceName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SessionConfig":{
      "type":"structure",
      "required":["sessionTimeoutMinutes"],
      "members":{
        "sessionTimeoutMinutes":{"shape":"SessionConfigSessionTimeoutMinutesInteger"}
      }
    },
    "SessionConfigSessionTimeoutMinutesInteger":{
      "type":"integer",
      "box":true,
      "max":1440,
      "min":1
    },
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TagsMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "components":{"shape":"ComponentConfigurationMap"},
        "parentVersionIds":{"shape":"ConfigurationBundleVersionList"},
        "branchName":{"shape":"BranchName"},
        "commitMessage":{"shape":"UpdateConfigurationBundleRequestCommitMessageString"},
        "createdBy":{"shape":"VersionCreatedBySource"}
      }
    },
    "UpdateConfigurationBundleRequestCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "UpdateConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "updatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "examples"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "examples":{
          "shape":"UpdateDatasetExamplesRequestExamplesList",
          "documentation":"<p>Examples to update. Each entry must include an existing exampleId and new content. Max 1000 examples per call. Total request body must not exceed 5 MB.</p>"
        }
      }
    },
    "UpdateDatasetExamplesRequestExamplesList":{
      "type":"list",
      "member":{"shape":"DatasetExampleUpdate"},
      "max":1000,
      "min":1
    },
    "UpdateDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "updatedCount",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "updatedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"UpdateDatasetRequestDescriptionString"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "UpdateDatasetRequestDescriptionString":{
      "type":"string",
      "max":200,
      "min":0
    },
    "UpdateDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateEvaluationJobRequest":{
      "type":"structure",
      "required":["evaluationJobId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluationJobId":{
          "shape":"EvaluationJobId",
          "location":"uri",
          "locationName":"evaluationJobId"
        },
        "description":{"shape":"EvaluationJobDescription"},
        "configuration":{"shape":"EvaluationJobConfiguration"}
      }
    },
    "UpdateEvaluationJobResponse":{
      "type":"structure",
      "required":[
        "evaluationJobArn",
        "evaluationJobId",
        "updatedAt",
        "status"
      ],
      "members":{
        "evaluationJobArn":{"shape":"EvaluationJobArn"},
        "evaluationJobId":{"shape":"EvaluationJobId"},
        "updatedAt":{"shape":"Timestamp"},
        "status":{"shape":"EvaluationJobStatus"}
      }
    },
    "UpdateEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        },
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"}
      }
    },
    "UpdateEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "updatedAt",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "updatedAt":{"shape":"Timestamp"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "UpdateOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        },
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"}
      }
    },
    "UpdateOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "updatedAt",
        "status",
        "executionStatus"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "updatedAt":{"shape":"Timestamp"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "failureReason":{"shape":"String"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "CannotParse",
        "FieldValidationFailed",
        "IdempotentParameterMismatchException",
        "EventInOtherSession",
        "ResourceConflict"
      ]
    },
    "VersionCreatedBySource":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"String"},
        "arn":{"shape":"String"}
      }
    },
    "VersionFilter":{
      "type":"structure",
      "members":{
        "branchName":{"shape":"BranchName"},
        "createdByName":{"shape":"String"},
        "latestPerBranch":{"shape":"Boolean"}
      }
    },
    "VersionLineageMetadata":{
      "type":"structure",
      "members":{
        "parentVersionIds":{"shape":"ConfigurationBundleVersionList"},
        "branchName":{"shape":"BranchName"},
        "createdBy":{"shape":"VersionCreatedBySource"},
        "commitMessage":{"shape":"VersionLineageMetadataCommitMessageString"}
      }
    },
    "VersionLineageMetadataCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    }
  }
}
