{
  "version":"2.0",
  "metadata":{
    "apiVersion":"2024-01-01",
    "auth":["aws.auth#sigv4"],
    "endpointPrefix":"bedrock-agentcore-control",
    "protocol":"rest-json",
    "protocols":["rest-json"],
    "serviceFullName":"AgentCoreEvaluationControlPlaneService",
    "serviceId":"AgentCoreEvaluationControlPlane",
    "signatureVersion":"v4",
    "signingName":"bedrock-agentcore",
    "uid":"agentcoreevaluationcontrolplane-2024-01-01"
  },
  "operations":{
    "AddDatasetExamples":{
      "name":"AddDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/add",
        "responseCode":202
      },
      "input":{"shape":"AddDatasetExamplesRequest"},
      "output":{"shape":"AddDatasetExamplesResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Adds examples to the dataset's DRAFT.</p> <p><strong>Validation:</strong> All examples are validated against the dataset's schemaType before any writes occur. If any example fails validation, the entire batch is rejected with ValidationException — no examples are written (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p> <p><strong>Request size limit:</strong> Max 5 MB total request body. Max 1000 examples per call.</p>"
    },
    "CreateConfigurationBundle":{
      "name":"CreateConfigurationBundle",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles/create",
        "responseCode":201
      },
      "input":{"shape":"CreateConfigurationBundleRequest"},
      "output":{"shape":"CreateConfigurationBundleResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateDataset":{
      "name":"CreateDataset",
      "http":{
        "method":"POST",
        "requestUri":"/datasets",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetRequest"},
      "output":{"shape":"CreateDatasetResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Creates a new Dataset resource asynchronously.</p> <p>Returns immediately with status CREATING. Poll GetDataset until status transitions to ACTIVE or CREATE_FAILED (with failureReason).</p>"
    },
    "CreateDatasetVersion":{
      "name":"CreateDatasetVersion",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/versions",
        "responseCode":202
      },
      "input":{"shape":"CreateDatasetVersionRequest"},
      "output":{"shape":"CreateDatasetVersionResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Publishes the current DRAFT as a new numbered version.</p> <p>Snapshots the DRAFT examples as the next version (1, 2, 3, ...). The DRAFT is preserved and remains editable after publishing. Returns immediately with status UPDATING. Poll GetDataset until status transitions to ACTIVE (draftStatus=UNMODIFIED) or UPDATE_FAILED.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if status is in {CREATING, UPDATING, DELETING}, or DATASET_IN_FAILED_STATE if status is in {CREATE_FAILED, DELETE_FAILED}.</p> <p><strong>Quota:</strong> MAX_VERSIONS_PER_DATASET applies to published versions only (not DRAFT).</p>"
    },
    "CreateEvaluator":{
      "name":"CreateEvaluator",
      "http":{
        "method":"POST",
        "requestUri":"/evaluators/create",
        "responseCode":202
      },
      "input":{"shape":"CreateEvaluatorRequest"},
      "output":{"shape":"CreateEvaluatorResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "CreateOnlineEvaluationConfig":{
      "name":"CreateOnlineEvaluationConfig",
      "http":{
        "method":"POST",
        "requestUri":"/online-evaluation-configs/create",
        "responseCode":202
      },
      "input":{"shape":"CreateOnlineEvaluationConfigRequest"},
      "output":{"shape":"CreateOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "DeleteConfigurationBundle":{
      "name":"DeleteConfigurationBundle",
      "http":{
        "method":"DELETE",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteConfigurationBundleRequest"},
      "output":{"shape":"DeleteConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteDataset":{
      "name":"DeleteDataset",
      "http":{
        "method":"DELETE",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetRequest"},
      "output":{"shape":"DeleteDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes a dataset version or an entire dataset (all versions + name claim). Asynchronous 202.</p> <p><strong>State transitions:</strong></p> <ul> <li>If <code>datasetVersion</code> is absent (full delete): status transitions to DELETING immediately.</li> <li>If <code>datasetVersion</code> is provided (version-specific delete): status transitions to UPDATING.</li> </ul> <p><strong>State guard (full delete):</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is in {CREATING, UPDATING}. Deletion is allowed from ACTIVE, CREATE_FAILED, UPDATE_FAILED, and DELETE_FAILED states.</p> <p><strong>State guard (version-specific delete):</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {ACTIVE, CREATE_FAILED, UPDATE_FAILED}.</p> <p>Fails with ConflictException (REFERENCED_BY_EVAL_JOB) if referenced by an active evaluation job (full delete only).</p> <p>If the delete workflow fails after retries, status is set to DELETE_FAILED (full delete) or UPDATE_FAILED (version-specific delete). Calling DeleteDataset on a DELETE_FAILED dataset re-triggers the delete workflow (idempotent retry path).</p> <p><strong>Version parameter:</strong></p> <ul> <li>If <code>datasetVersion</code> is absent: deletes ALL versions and the Dataset record itself.</li> <li>If <code>datasetVersion</code> is provided: deletes only that specific DatasetVersion. Returns ResourceNotFoundException if the specified version does not exist.</li> </ul>",
      "idempotent":true
    },
    "DeleteDatasetExamples":{
      "name":"DeleteDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/delete",
        "responseCode":202
      },
      "input":{"shape":"DeleteDatasetExamplesRequest"},
      "output":{"shape":"DeleteDatasetExamplesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Deletes specific examples by ID from DRAFT.</p> <p><strong>Validation:</strong> All example IDs are validated before any deletes occur. If any ID does not exist in DRAFT, the entire batch is rejected with ResourceNotFoundException — no examples are deleted (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p>"
    },
    "DeleteEvaluator":{
      "name":"DeleteEvaluator",
      "http":{
        "method":"DELETE",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteEvaluatorRequest"},
      "output":{"shape":"DeleteEvaluatorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "DeleteOnlineEvaluationConfig":{
      "name":"DeleteOnlineEvaluationConfig",
      "http":{
        "method":"DELETE",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":202
      },
      "input":{"shape":"DeleteOnlineEvaluationConfigRequest"},
      "output":{"shape":"DeleteOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "GetConfigurationBundle":{
      "name":"GetConfigurationBundle",
      "http":{
        "method":"GET",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationBundleRequest"},
      "output":{"shape":"GetConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetConfigurationBundleVersion":{
      "name":"GetConfigurationBundleVersion",
      "http":{
        "method":"GET",
        "requestUri":"/configuration-bundles/{bundleId}/versions/{versionId}",
        "responseCode":200
      },
      "input":{"shape":"GetConfigurationBundleVersionRequest"},
      "output":{"shape":"GetConfigurationBundleVersionResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetDataset":{
      "name":"GetDataset",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":200
      },
      "input":{"shape":"GetDatasetRequest"},
      "output":{"shape":"GetDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Retrieves dataset metadata only.</p> <p>Use <code>?datasetVersion=DRAFT</code> or <code>?datasetVersion=N</code> to retrieve a specific version's metadata. If absent, defaults to DRAFT (the latest unpublished version). Returns ResourceNotFoundException if the specified version is not found.</p> <p><strong>State guard:</strong> Allowed for all statuses including DELETING. Returns the dataset record with its current status so callers can observe the deletion in progress.</p> <p>For paginated example IDs use ListDatasetExamples.</p>",
      "readonly":true
    },
    "GetEvaluator":{
      "name":"GetEvaluator",
      "http":{
        "method":"GET",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":200
      },
      "input":{"shape":"GetEvaluatorRequest"},
      "output":{"shape":"GetEvaluatorResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "GetOnlineEvaluationConfig":{
      "name":"GetOnlineEvaluationConfig",
      "http":{
        "method":"GET",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":200
      },
      "input":{"shape":"GetOnlineEvaluationConfigRequest"},
      "output":{"shape":"GetOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListConfigurationBundleVersions":{
      "name":"ListConfigurationBundleVersions",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles/{bundleId}/versions",
        "responseCode":200
      },
      "input":{"shape":"ListConfigurationBundleVersionsRequest"},
      "output":{"shape":"ListConfigurationBundleVersionsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListConfigurationBundles":{
      "name":"ListConfigurationBundles",
      "http":{
        "method":"POST",
        "requestUri":"/configuration-bundles",
        "responseCode":200
      },
      "input":{"shape":"ListConfigurationBundlesRequest"},
      "output":{"shape":"ListConfigurationBundlesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListDatasetExamples":{
      "name":"ListDatasetExamples",
      "http":{
        "method":"GET",
        "requestUri":"/datasets/{datasetId}/examples",
        "responseCode":200
      },
      "input":{"shape":"ListDatasetExamplesRequest"},
      "output":{"shape":"ListDatasetExamplesResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Returns paginated example IDs from the dataset.</p> <p><strong>Version-pinned pagination:</strong> The server embeds the resolved version in the <code>nextToken</code>. Once pagination begins, all subsequent pages are pinned to that version regardless of concurrent mutations or whether <code>datasetVersion</code> is passed on subsequent requests. The <code>datasetVersion</code> query parameter is only used for the first request (when <code>nextToken</code> is absent); if omitted, defaults to DRAFT.</p> <p><strong>State guard:</strong> Allowed for all statuses including DELETING.</p>",
      "readonly":true
    },
    "ListDatasets":{
      "name":"ListDatasets",
      "http":{
        "method":"GET",
        "requestUri":"/datasets",
        "responseCode":200
      },
      "input":{"shape":"ListDatasetsRequest"},
      "output":{"shape":"ListDatasetsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Lists all datasets in the caller's account, paginated. No presigned URLs in list results.</p>",
      "readonly":true
    },
    "ListEvaluators":{
      "name":"ListEvaluators",
      "http":{
        "method":"POST",
        "requestUri":"/evaluators",
        "responseCode":200
      },
      "input":{"shape":"ListEvaluatorsRequest"},
      "output":{"shape":"ListEvaluatorsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "ListOnlineEvaluationConfigs":{
      "name":"ListOnlineEvaluationConfigs",
      "http":{
        "method":"POST",
        "requestUri":"/online-evaluation-configs",
        "responseCode":200
      },
      "input":{"shape":"ListOnlineEvaluationConfigsRequest"},
      "output":{"shape":"ListOnlineEvaluationConfigsResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "readonly":true
    },
    "UpdateConfigurationBundle":{
      "name":"UpdateConfigurationBundle",
      "http":{
        "method":"PUT",
        "requestUri":"/configuration-bundles/{bundleId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateConfigurationBundleRequest"},
      "output":{"shape":"UpdateConfigurationBundleResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ]
    },
    "UpdateDataset":{
      "name":"UpdateDataset",
      "http":{
        "method":"PUT",
        "requestUri":"/datasets/{datasetId}",
        "responseCode":200
      },
      "input":{"shape":"UpdateDatasetRequest"},
      "output":{"shape":"UpdateDatasetResponse"},
      "errors":[
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates a dataset's metadata. Synchronous operation. Only provided fields are updated; omitted fields remain unchanged.</p> <p>To modify dataset content, use AddDatasetExamples, UpdateDatasetExamples, or DeleteDatasetExamples.</p> <p>Cannot update: name, schemaType, kmsKeyArn (immutable after creation).</p>",
      "idempotent":true
    },
    "UpdateDatasetExamples":{
      "name":"UpdateDatasetExamples",
      "http":{
        "method":"POST",
        "requestUri":"/datasets/{datasetId}/examples/update",
        "responseCode":202
      },
      "input":{"shape":"UpdateDatasetExamplesRequest"},
      "output":{"shape":"UpdateDatasetExamplesResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"ConflictException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "documentation":"<p>Updates multiple existing examples in-place on DRAFT.</p> <p><strong>Validation:</strong> All examples are validated against the dataset's schemaType before any writes occur. If any example fails validation, the entire batch is rejected with ValidationException — no examples are updated (all-or-nothing semantics).</p> <p><strong>Asynchronous:</strong> Operates in-place on DRAFT. No version bump occurs. Use CreateDatasetVersion to publish DRAFT as a new numbered version.</p> <p>Fails with ResourceNotFoundException if any exampleId does not exist in DRAFT. To add new examples, use AddDatasetExamples instead.</p> <p><strong>State guard:</strong> Returns ConflictException (DATASET_NOT_READY) if the dataset status is not in {DRAFT, ACTIVE}.</p> <p><strong>Request size limit:</strong> Max 5 MB total request body. Max 1000 examples per call.</p>"
    },
    "UpdateEvaluator":{
      "name":"UpdateEvaluator",
      "http":{
        "method":"PUT",
        "requestUri":"/evaluators/{evaluatorId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateEvaluatorRequest"},
      "output":{"shape":"UpdateEvaluatorResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    },
    "UpdateOnlineEvaluationConfig":{
      "name":"UpdateOnlineEvaluationConfig",
      "http":{
        "method":"PUT",
        "requestUri":"/online-evaluation-configs/{onlineEvaluationConfigId}",
        "responseCode":202
      },
      "input":{"shape":"UpdateOnlineEvaluationConfigRequest"},
      "output":{"shape":"UpdateOnlineEvaluationConfigResponse"},
      "errors":[
        {"shape":"ServiceQuotaExceededException"},
        {"shape":"ValidationException"},
        {"shape":"AccessDeniedException"},
        {"shape":"ConflictException"},
        {"shape":"ResourceNotFoundException"},
        {"shape":"ThrottlingException"},
        {"shape":"InternalServerException"}
      ],
      "idempotent":true
    }
  },
  "shapes":{
    "AccessDeniedException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":403,
        "senderFault":true
      },
      "exception":true
    },
    "AddDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "examples"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "examples":{
          "shape":"AddDatasetExamplesRequestExamplesList",
          "documentation":"<p>Examples to add. Each example is assigned an auto-generated UUID. Max 1000 examples per call. Total request body must not exceed 5 MB.</p>"
        }
      }
    },
    "AddDatasetExamplesRequestExamplesList":{
      "type":"list",
      "member":{"shape":"SensitiveJson"},
      "documentation":"<p>Source of the dataset file. Either a customer S3 URI or inline bytes. Each element is a free-form JSON document whose structure is defined by the dataset's <code>schemaType</code>. Validated against the declared schema at write time. If an <code>exampleId</code> string field is present it is used as the example identifier and removed from the persisted content; otherwise a UUID is generated automatically.</p>",
      "max":1000,
      "min":1
    },
    "AddDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "addedCount",
        "updatedAt",
        "exampleIds"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "addedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"},
        "exampleIds":{
          "shape":"ExampleIdList",
          "documentation":"<p>IDs of all added examples (auto-generated UUIDs).</p>"
        }
      }
    },
    "AdditionalModelRequestFields":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "BedrockEvaluatorModelConfig":{
      "type":"structure",
      "required":["modelId"],
      "members":{
        "modelId":{"shape":"ModelId"},
        "inferenceConfig":{"shape":"InferenceConfiguration"},
        "additionalModelRequestFields":{"shape":"AdditionalModelRequestFields"}
      }
    },
    "Boolean":{
      "type":"boolean",
      "box":true
    },
    "BranchName":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9_/-]{0,127}"
    },
    "CategoricalScaleDefinition":{
      "type":"structure",
      "required":[
        "definition",
        "label"
      ],
      "members":{
        "definition":{"shape":"String"},
        "label":{"shape":"CategoricalScaleDefinitionLabelString"}
      }
    },
    "CategoricalScaleDefinitionLabelString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "CategoricalScaleDefinitions":{
      "type":"list",
      "member":{"shape":"CategoricalScaleDefinition"}
    },
    "ClientToken":{
      "type":"string",
      "max":256,
      "min":33,
      "pattern":"[a-zA-Z0-9](-*[a-zA-Z0-9]){0,256}"
    },
    "CloudWatchLogsInputConfig":{
      "type":"structure",
      "required":[
        "logGroupNames",
        "serviceNames"
      ],
      "members":{
        "logGroupNames":{"shape":"CloudWatchLogsInputConfigLogGroupNamesList"},
        "serviceNames":{"shape":"CloudWatchLogsInputConfigServiceNamesList"}
      }
    },
    "CloudWatchLogsInputConfigLogGroupNamesList":{
      "type":"list",
      "member":{"shape":"LogGroupName"},
      "max":5,
      "min":1
    },
    "CloudWatchLogsInputConfigServiceNamesList":{
      "type":"list",
      "member":{"shape":"ServiceName"},
      "max":1,
      "min":1
    },
    "CloudWatchOutputConfig":{
      "type":"structure",
      "required":["logGroupName"],
      "members":{
        "logGroupName":{"shape":"LogGroupName"}
      }
    },
    "ClusteringConfig":{
      "type":"structure",
      "required":["frequencies"],
      "members":{
        "frequencies":{"shape":"ClusteringFrequencyList"}
      }
    },
    "ClusteringFrequency":{
      "type":"string",
      "enum":[
        "DAILY",
        "WEEKLY",
        "MONTHLY"
      ]
    },
    "ClusteringFrequencyList":{
      "type":"list",
      "member":{"shape":"ClusteringFrequency"},
      "max":3,
      "min":0
    },
    "CodeBasedEvaluatorConfig":{
      "type":"structure",
      "members":{
        "lambdaConfig":{"shape":"LambdaEvaluatorConfig"}
      },
      "union":true
    },
    "ComponentConfiguration":{
      "type":"structure",
      "required":["configuration"],
      "members":{
        "configuration":{"shape":"Document"}
      },
      "sensitive":true
    },
    "ComponentConfigurationMap":{
      "type":"map",
      "key":{"shape":"ComponentIdentifier"},
      "value":{"shape":"ComponentConfiguration"}
    },
    "ComponentIdentifier":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9_:/.\\-]{0,2047}"
    },
    "ConfigurationBundleArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:configuration-bundle/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleDescription":{
      "type":"string",
      "max":500,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "ConfigurationBundleId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "ConfigurationBundleName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,99}"
    },
    "ConfigurationBundleStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "DELETE_FAILED"
      ]
    },
    "ConfigurationBundleSummary":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"}
      }
    },
    "ConfigurationBundleSummaryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleSummary"}
    },
    "ConfigurationBundleVersion":{
      "type":"string",
      "pattern":"[a-f0-9]{8}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{4}-[a-f0-9]{12}"
    },
    "ConfigurationBundleVersionList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleVersion"}
    },
    "ConfigurationBundleVersionSummary":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "versionCreatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "versionCreatedAt":{"shape":"Timestamp"}
      }
    },
    "ConfigurationBundleVersionSummaryList":{
      "type":"list",
      "member":{"shape":"ConfigurationBundleVersionSummary"}
    },
    "ConflictException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":409,
        "senderFault":true
      },
      "exception":true
    },
    "CreateConfigurationBundleRequest":{
      "type":"structure",
      "required":[
        "bundleName",
        "components"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "components":{"shape":"ComponentConfigurationMap"},
        "branchName":{"shape":"BranchName"},
        "commitMessage":{"shape":"CreateConfigurationBundleRequestCommitMessageString"},
        "createdBy":{"shape":"VersionCreatedBySource"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateConfigurationBundleRequestCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "CreateConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "createdAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateDatasetRequest":{
      "type":"structure",
      "required":[
        "datasetName",
        "examples",
        "schemaType"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "documentation":"<p>Optional idempotency token.</p>",
          "idempotencyToken":true
        },
        "datasetName":{
          "shape":"DatasetName",
          "documentation":"<p>Human-readable name for the dataset. Unique within the account (case-insensitive). Immutable after creation.</p>"
        },
        "description":{"shape":"CreateDatasetRequestDescriptionString"},
        "examples":{
          "shape":"CreateDatasetRequestExamplesList",
          "documentation":"<p>Initial examples for the dataset. Each element is a free-form JSON document validated against the declared schemaType. If an <code>exampleId</code> string field is present it is used as the example identifier and removed from persisted content; otherwise a UUID is generated automatically. Max 1000 examples per call.</p>"
        },
        "schemaType":{
          "shape":"DatasetSchemaType",
          "documentation":"<p>Versioned schema type governing the structure of examples. Immutable after creation.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>Optional AWS KMS key ARN for SSE-KMS on service S3 writes.</p>"
        },
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateDatasetRequestDescriptionString":{
      "type":"string",
      "max":200,
      "min":0
    },
    "CreateDatasetRequestExamplesList":{
      "type":"list",
      "member":{"shape":"SensitiveJson"},
      "documentation":"<p>Source of the dataset file. Either a customer S3 URI or inline bytes. Each element is a free-form JSON document whose structure is defined by the dataset's <code>schemaType</code>. Validated against the declared schema at write time. If an <code>exampleId</code> string field is present it is used as the example identifier and removed from the persisted content; otherwise a UUID is generated automatically.</p>",
      "max":1000,
      "min":1
    },
    "CreateDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "createdAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Always CREATING immediately after this call. Poll GetDataset until status == ACTIVE (draftStatus=MODIFIED) or CREATE_FAILED.</p>"
        },
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateDatasetVersionRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        }
      }
    },
    "CreateDatasetVersionResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "datasetVersion",
        "createdAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{
          "shape":"DatasetStatus",
          "documentation":"<p>Always UPDATING immediately after this call. Poll GetDataset until status == ACTIVE (draftStatus=UNMODIFIED) or UPDATE_FAILED.</p>"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version being created.</p>"
        },
        "createdAt":{"shape":"Timestamp"}
      }
    },
    "CreateEvaluatorRequest":{
      "type":"structure",
      "required":[
        "evaluatorName",
        "evaluatorConfig",
        "level"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluatorName":{"shape":"CustomEvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"},
        "kmsKeyArn":{"shape":"KmsKeyArn"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "createdAt",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"CustomEvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "createdAt":{"shape":"Timestamp"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "CreateOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigName",
        "rule",
        "dataSourceConfig",
        "evaluationExecutionRoleArn",
        "enableOnCreate"
      ],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "clusteringConfig":{"shape":"ClusteringConfig"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "enableOnCreate":{"shape":"Boolean"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "CreateOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "createdAt",
        "status",
        "executionStatus"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "createdAt":{"shape":"Timestamp"},
        "outputConfig":{"shape":"OutputConfig"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "failureReason":{"shape":"String"}
      }
    },
    "CustomEvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "CustomEvaluatorName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "DataSourceConfig":{
      "type":"structure",
      "members":{
        "cloudWatchLogs":{"shape":"CloudWatchLogsInputConfig"}
      },
      "union":true
    },
    "DatasetArn":{
      "type":"string",
      "pattern":"arn:aws(-[a-z]+)*:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:dataset/[a-zA-Z0-9_-]{1,110}"
    },
    "DatasetId":{
      "type":"string",
      "pattern":"[a-zA-Z0-9_-]{1,110}"
    },
    "DatasetName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "DatasetSchemaType":{
      "type":"string",
      "documentation":"<p>Format of a customer-provided source file.</p> <p><strong>JSONL</strong> (JSON Lines, one object per line) is the service's native ingestion and storage format — it can be streamed line-by-line without loading the entire file into memory, which is important as the row-count cap is extended.</p> <p><strong>JSON array (<code>[{...},{...}]</code>) is intentionally not supported</strong> at launch: it cannot be streamed (requires loading the full file into memory to parse), and all major eval frameworks (LangSmith, Ragas, DeepEval, Arize Phoenix) export as JSONL or CSV — not JSON arrays. Customers with JSON array files can Versioned schema type for dataset examples.</p> <p>Each value identifies both the source format and the version of that format's schema. Schema definitions (required/optional fields) are stored as constants in SchemaRegistry. The schemaType on a Dataset is immutable after creation.</p> <p>When a framework changes its format, a new version is added (e.g., RAGAS_V2) without breaking existing datasets using the old version. Content is always stored as-is.</p>",
      "enum":[
        "AGENTCORE_EVALUATION_PREDEFINED_V1",
        "AGENTCORE_EVALUATION_SIMULATED_V1"
      ]
    },
    "DatasetStatus":{
      "type":"string",
      "documentation":"<p>Dataset lifecycle / operation status.</p> <p>Two-column status model: <code>DatasetStatus</code> tracks lifecycle state independently from <code>DraftStatus</code> which tracks publish synchronization.</p> <p>IN-FLIGHT states (busy — all writes blocked): CREATING — CreateDataset async ingestion in progress. UPDATING — Example mutation (Add/Update/Delete) or CreateDatasetVersion in progress. DELETING — Full or version-specific delete in progress.</p> <p>TERMINAL states (stable — operations allowed per guards below): ACTIVE — Dataset is stable. failureReason cleared. CREATE_FAILED — Initial ingestion failed. DRAFT record exists but has no examples. failureReason populated. UPDATE_FAILED — Last example mutation or CreateDatasetVersion failed. DRAFT may be partially modified. failureReason populated. DELETE_FAILED — Delete failed after retries. Dataset/S3 may be in inconsistent state. Sev-2 ticket filed (full-delete only). failureReason populated.</p> <p>State transitions: CreateDataset → CREATING → ACTIVE (draftStatus=MODIFIED) | CREATE_FAILED Add/Update/DeleteDatasetExamples → UPDATING → ACTIVE (draftStatus=MODIFIED) | UPDATE_FAILED CreateDatasetVersion → UPDATING → ACTIVE (draftStatus=UNMODIFIED) | UPDATE_FAILED DeleteDataset (version-specific) → DELETING → ACTIVE (draftStatus unchanged) | DELETE_FAILED DeleteDataset (full) → DELETING → (record deleted) | DELETE_FAILED [auto Sev-2]</p> <p>Operation guards (ConflictException codes): GetDataset / ListDatasetExamples: — Allowed for all statuses (no guard) UpdateDataset, AddDatasetExamples, DeleteDatasetExamples: — DATASET_NOT_READY if status in {CREATING, UPDATING, DELETING} — DATASET_IN_FAILED_STATE if status == DELETE_FAILED UpdateDatasetExamples: — DATASET_NOT_READY if status in {CREATING, UPDATING, DELETING} — DATASET_IN_FAILED_STATE if status in {CREATE_FAILED, DELETE_FAILED} CreateDatasetVersion: — DATASET_NOT_READY if status in {CREATING, UPDATING, DELETING} — DATASET_IN_FAILED_STATE if status in {CREATE_FAILED, DELETE_FAILED} DeleteDataset: — DATASET_NOT_READY if status in {CREATING, UPDATING, DELETING}</p>",
      "enum":[
        "CREATING",
        "UPDATING",
        "DELETING",
        "ACTIVE",
        "CREATE_FAILED",
        "UPDATE_FAILED",
        "DELETE_FAILED"
      ]
    },
    "DatasetSummary":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetName",
        "status",
        "schemaType",
        "exampleCount",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetName":{"shape":"DatasetName"},
        "description":{"shape":"String"},
        "status":{"shape":"DatasetStatus"},
        "draftStatus":{
          "shape":"DraftStatus",
          "documentation":"<p>Publish synchronization state. Only authoritative when status == ACTIVE.</p>"
        },
        "schemaType":{"shape":"DatasetSchemaType"},
        "exampleCount":{"shape":"Long"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DatasetSummaryList":{
      "type":"list",
      "member":{"shape":"DatasetSummary"}
    },
    "DatasetVersion":{
      "type":"string",
      "documentation":"<p>Dataset version identifier. Accepts &quot;DRAFT&quot; or a non-negative integer string.</p> <p>&quot;DRAFT&quot; refers to the single mutable working copy of the dataset.</p> <ul> <li>Always present after CreateDataset ingestion completes.</li> <li>Content changes in-place when examples are added, updated, or deleted.</li> <li>NOT tracked as a DDB DatasetVersionItem — state lives in S3 (draft/manifest.json, draft/dataset.jsonl) and the DatasetItem.exampleCount field.</li> <li>Default for read operations when ?datasetVersion is absent.</li> </ul> <p>An integer string (e.g. &quot;1&quot;, &quot;2&quot;, &quot;3&quot;) refers to a published, immutable snapshot created by CreateDatasetVersion. Once created, a published version's content never changes. Stored as a DDB DatasetVersionItem (SK=VERSION#{zero-padded-N}).</p>",
      "pattern":"(DRAFT|[0-9]+)"
    },
    "DeleteConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        }
      }
    },
    "DeleteConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleId",
        "status"
      ],
      "members":{
        "bundleId":{"shape":"ConfigurationBundleId"},
        "status":{"shape":"ConfigurationBundleStatus"}
      }
    },
    "DeleteDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "exampleIds"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "exampleIds":{"shape":"DeleteDatasetExamplesRequestExampleIdsList"}
      }
    },
    "DeleteDatasetExamplesRequestExampleIdsList":{
      "type":"list",
      "member":{"shape":"ExampleId"},
      "max":1000,
      "min":1
    },
    "DeleteDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "deletedCount",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "deletedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DeleteDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Optional version to delete. Use &quot;DRAFT&quot; or omit to delete the draft. Returns ResourceNotFoundException if the specified version does not exist.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        }
      }
    },
    "DeleteDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "datasetVersion",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version deleted.</p>"
        },
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "DeleteEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        }
      }
    },
    "DeleteEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "DeleteOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        }
      }
    },
    "DeleteOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "status"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "status":{"shape":"OnlineEvaluationConfigStatus"}
      }
    },
    "Document":{
      "type":"structure",
      "members":{},
      "document":true
    },
    "Double":{
      "type":"double",
      "box":true
    },
    "DraftStatus":{
      "type":"string",
      "documentation":"<p>Publish synchronization state of the DRAFT working copy.</p> <p>Tracks whether the current DRAFT content has been published as a version. Only authoritative when DatasetStatus == ACTIVE. Not meaningful during in-flight or failed states.</p> <p>Transitions: CreateDataset succeeds → MODIFIED (DRAFT has content with no published version yet) Add/Update/DeleteExamples succeed → MODIFIED (DRAFT differs from last published version) CreateDatasetVersion succeeds → UNMODIFIED (DRAFT matches the version just published)</p>",
      "enum":[
        "MODIFIED",
        "UNMODIFIED"
      ]
    },
    "EvaluationConfigDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "pattern":".+",
      "sensitive":true
    },
    "EvaluationConfigName":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9_]{0,47}"
    },
    "EvaluatorArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:evaluator\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}$|^arn:aws:bedrock-agentcore:::evaluator/Builtin.[a-zA-Z0-9_-]+"
    },
    "EvaluatorConfig":{
      "type":"structure",
      "members":{
        "llmAsAJudge":{"shape":"LlmAsAJudgeEvaluatorConfig"},
        "codeBased":{"shape":"CodeBasedEvaluatorConfig"}
      },
      "union":true
    },
    "EvaluatorDescription":{
      "type":"string",
      "max":200,
      "min":1,
      "sensitive":true
    },
    "EvaluatorId":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10})"
    },
    "EvaluatorInstructions":{
      "type":"string",
      "sensitive":true
    },
    "EvaluatorLevel":{
      "type":"string",
      "enum":[
        "TOOL_CALL",
        "TRACE",
        "SESSION"
      ]
    },
    "EvaluatorList":{
      "type":"list",
      "member":{"shape":"EvaluatorReference"},
      "max":10,
      "min":0
    },
    "EvaluatorModelConfig":{
      "type":"structure",
      "members":{
        "bedrockEvaluatorModelConfig":{"shape":"BedrockEvaluatorModelConfig"}
      },
      "union":true
    },
    "EvaluatorName":{
      "type":"string",
      "pattern":"(Builtin.[a-zA-Z0-9_-]+|[a-zA-Z][a-zA-Z0-9_]{0,47})"
    },
    "EvaluatorReference":{
      "type":"structure",
      "members":{
        "evaluatorId":{"shape":"EvaluatorId"}
      },
      "union":true
    },
    "EvaluatorStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING"
      ]
    },
    "EvaluatorSummary":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "evaluatorType",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorType":{"shape":"EvaluatorType"},
        "level":{"shape":"EvaluatorLevel"},
        "status":{"shape":"EvaluatorStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "lockedForModification":{"shape":"Boolean"},
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "EvaluatorSummaryList":{
      "type":"list",
      "member":{"shape":"EvaluatorSummary"}
    },
    "EvaluatorType":{
      "type":"string",
      "enum":[
        "Builtin",
        "Custom",
        "CustomCode"
      ]
    },
    "ExampleId":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9_.:-]+"
    },
    "ExampleIdList":{
      "type":"list",
      "member":{"shape":"ExampleId"}
    },
    "Filter":{
      "type":"structure",
      "required":[
        "key",
        "operator",
        "value"
      ],
      "members":{
        "key":{"shape":"FilterKeyString"},
        "operator":{"shape":"FilterOperator"},
        "value":{"shape":"FilterValue"}
      }
    },
    "FilterKeyString":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "FilterList":{
      "type":"list",
      "member":{"shape":"Filter"},
      "max":5,
      "min":0
    },
    "FilterOperator":{
      "type":"string",
      "enum":[
        "Equals",
        "NotEquals",
        "GreaterThan",
        "LessThan",
        "GreaterThanOrEqual",
        "LessThanOrEqual",
        "Contains",
        "NotContains"
      ]
    },
    "FilterValue":{
      "type":"structure",
      "members":{
        "stringValue":{"shape":"FilterValueStringValueString"},
        "doubleValue":{"shape":"Double"},
        "booleanValue":{"shape":"Boolean"}
      },
      "union":true
    },
    "FilterValueStringValueString":{
      "type":"string",
      "max":1024,
      "min":1
    },
    "GetConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "branchName":{
          "shape":"BranchName",
          "location":"querystring",
          "locationName":"branchName"
        }
      }
    },
    "GetConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName",
        "versionId",
        "components",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "components":{"shape":"ComponentConfigurationMap"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetConfigurationBundleVersionRequest":{
      "type":"structure",
      "required":[
        "bundleId",
        "versionId"
      ],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "versionId":{
          "shape":"ConfigurationBundleVersion",
          "location":"uri",
          "locationName":"versionId"
        }
      }
    },
    "GetConfigurationBundleVersionResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "bundleName",
        "versionId",
        "components",
        "createdAt",
        "versionCreatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "components":{"shape":"ComponentConfigurationMap"},
        "lineageMetadata":{"shape":"VersionLineageMetadata"},
        "createdAt":{"shape":"Timestamp"},
        "versionCreatedAt":{"shape":"Timestamp"}
      }
    },
    "GetDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Version to retrieve: &quot;DRAFT&quot; or a version number. Defaults to DRAFT if absent.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        }
      }
    },
    "GetDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetName",
        "status",
        "schemaType",
        "exampleCount",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetName":{"shape":"DatasetName"},
        "description":{"shape":"String"},
        "status":{"shape":"DatasetStatus"},
        "draftStatus":{
          "shape":"DraftStatus",
          "documentation":"<p>Publish synchronization state. Only authoritative when status == ACTIVE. MODIFIED — DRAFT has unpublished changes (or no published versions yet). UNMODIFIED — DRAFT matches the latest published version exactly.</p>"
        },
        "failureReason":{
          "shape":"String",
          "documentation":"<p>Populated when status is CREATE_FAILED, UPDATE_FAILED, or DELETE_FAILED.</p>"
        },
        "schemaType":{
          "shape":"DatasetSchemaType",
          "documentation":"<p>The schema type declared at create time. Immutable after creation.</p>"
        },
        "kmsKeyArn":{
          "shape":"KmsKeyArn",
          "documentation":"<p>AWS KMS key ARN used for SSE-KMS on service S3 writes, if configured.</p>"
        },
        "exampleCount":{
          "shape":"Long",
          "documentation":"<p>Example count for DRAFT.</p>"
        },
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "GetEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        },
        "includedData":{
          "shape":"IncludedData",
          "location":"querystring",
          "locationName":"includedData"
        }
      }
    },
    "GetEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "evaluatorName",
        "evaluatorConfig",
        "level",
        "status",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "evaluatorName":{"shape":"EvaluatorName"},
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"},
        "status":{"shape":"EvaluatorStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "lockedForModification":{"shape":"Boolean"},
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "GetOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        }
      }
    },
    "GetOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "onlineEvaluationConfigName",
        "rule",
        "dataSourceConfig",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "clusteringConfig":{"shape":"ClusteringConfig"},
        "outputConfig":{"shape":"OutputConfig"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "failureReason":{"shape":"String"}
      }
    },
    "IncludedData":{
      "type":"string",
      "enum":[
        "ALL_DATA",
        "METADATA_ONLY"
      ]
    },
    "InferenceConfiguration":{
      "type":"structure",
      "members":{
        "maxTokens":{"shape":"InferenceConfigurationMaxTokensInteger"},
        "temperature":{"shape":"InferenceConfigurationTemperatureFloat"},
        "topP":{"shape":"InferenceConfigurationTopPFloat"},
        "stopSequences":{"shape":"InferenceConfigurationStopSequencesList"}
      }
    },
    "InferenceConfigurationMaxTokensInteger":{
      "type":"integer",
      "box":true,
      "min":1
    },
    "InferenceConfigurationStopSequencesList":{
      "type":"list",
      "member":{"shape":"NonEmptyString"},
      "max":2500,
      "min":0
    },
    "InferenceConfigurationTemperatureFloat":{
      "type":"float",
      "box":true,
      "max":1,
      "min":0
    },
    "InferenceConfigurationTopPFloat":{
      "type":"float",
      "box":true,
      "max":1,
      "min":0
    },
    "Insight":{
      "type":"structure",
      "required":["insightId"],
      "members":{
        "insightId":{"shape":"InsightId"}
      }
    },
    "InsightId":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z][a-zA-Z0-9._]+"
    },
    "InsightList":{
      "type":"list",
      "member":{"shape":"Insight"},
      "max":10,
      "min":0
    },
    "InternalServerException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{"httpStatusCode":500},
      "exception":true,
      "fault":true
    },
    "KmsKeyArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(|-cn|-us-gov):kms:[a-zA-Z0-9-]*:[0-9]{12}:key/[a-zA-Z0-9-]{36}"
    },
    "LambdaArn":{
      "type":"string",
      "pattern":"arn:(aws[a-zA-Z-]*)?:lambda:([a-z]{2}(-gov)?-[a-z]+-\\d{1}):(\\d{12}):function:([a-zA-Z0-9-_.]+)(:(\\$LATEST|[a-zA-Z0-9-_]+))?"
    },
    "LambdaEvaluatorConfig":{
      "type":"structure",
      "required":["lambdaArn"],
      "members":{
        "lambdaArn":{"shape":"LambdaArn"},
        "lambdaTimeoutInSeconds":{"shape":"LambdaEvaluatorConfigLambdaTimeoutInSecondsInteger"}
      }
    },
    "LambdaEvaluatorConfigLambdaTimeoutInSecondsInteger":{
      "type":"integer",
      "box":true,
      "max":300,
      "min":1
    },
    "ListConfigurationBundleVersionsRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListConfigurationBundleVersionsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "filter":{"shape":"VersionFilter"}
      }
    },
    "ListConfigurationBundleVersionsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListConfigurationBundleVersionsResponse":{
      "type":"structure",
      "required":["versions"],
      "members":{
        "versions":{"shape":"ConfigurationBundleVersionSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListConfigurationBundlesRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListConfigurationBundlesRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListConfigurationBundlesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListConfigurationBundlesResponse":{
      "type":"structure",
      "required":["bundles"],
      "members":{
        "bundles":{"shape":"ConfigurationBundleSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListDatasetExamplesRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>Version to paginate: &quot;DRAFT&quot; or a version number. Defaults to DRAFT if absent. Only used on the first request (when nextToken is absent). For subsequent pages, the version is extracted from the nextToken and this parameter is ignored.</p>",
          "location":"querystring",
          "locationName":"datasetVersion"
        },
        "maxResults":{
          "shape":"ListDatasetExamplesRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        },
        "nextToken":{
          "shape":"ListDatasetExamplesRequestNextTokenString",
          "location":"querystring",
          "locationName":"nextToken"
        }
      }
    },
    "ListDatasetExamplesRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":1000,
      "min":1
    },
    "ListDatasetExamplesRequestNextTokenString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "ListDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "datasetVersion",
        "exampleIds"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "datasetVersion":{
          "shape":"DatasetVersion",
          "documentation":"<p>The version returned.</p>"
        },
        "exampleIds":{
          "shape":"ExampleIdList",
          "documentation":"<p>List of example IDs in this page.</p>"
        },
        "nextToken":{"shape":"String"}
      }
    },
    "ListDatasetsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"ListDatasetsRequestNextTokenString",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListDatasetsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListDatasetsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListDatasetsRequestNextTokenString":{
      "type":"string",
      "max":2048,
      "min":0
    },
    "ListDatasetsResponse":{
      "type":"structure",
      "required":["datasets"],
      "members":{
        "datasets":{"shape":"DatasetSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListEvaluatorsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListEvaluatorsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListEvaluatorsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListEvaluatorsResponse":{
      "type":"structure",
      "required":["evaluators"],
      "members":{
        "evaluators":{"shape":"EvaluatorSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "ListOnlineEvaluationConfigsRequest":{
      "type":"structure",
      "members":{
        "nextToken":{
          "shape":"String",
          "location":"querystring",
          "locationName":"nextToken"
        },
        "maxResults":{
          "shape":"ListOnlineEvaluationConfigsRequestMaxResultsInteger",
          "location":"querystring",
          "locationName":"maxResults"
        }
      }
    },
    "ListOnlineEvaluationConfigsRequestMaxResultsInteger":{
      "type":"integer",
      "box":true,
      "max":100,
      "min":1
    },
    "ListOnlineEvaluationConfigsResponse":{
      "type":"structure",
      "required":["onlineEvaluationConfigs"],
      "members":{
        "onlineEvaluationConfigs":{"shape":"OnlineEvaluationConfigSummaryList"},
        "nextToken":{"shape":"String"}
      }
    },
    "LlmAsAJudgeEvaluatorConfig":{
      "type":"structure",
      "required":["modelConfig"],
      "members":{
        "instructions":{"shape":"EvaluatorInstructions"},
        "ratingScale":{"shape":"RatingScale"},
        "modelConfig":{"shape":"EvaluatorModelConfig"}
      }
    },
    "LogGroupName":{
      "type":"string",
      "max":512,
      "min":1,
      "pattern":"[.\\-_/#A-Za-z0-9]+"
    },
    "Long":{
      "type":"long",
      "box":true
    },
    "ModelId":{"type":"string"},
    "NonBlankString":{
      "type":"string",
      "pattern":"[\\s\\S]+"
    },
    "NonEmptyString":{
      "type":"string",
      "min":1
    },
    "NumericalScaleDefinition":{
      "type":"structure",
      "required":[
        "definition",
        "value",
        "label"
      ],
      "members":{
        "definition":{"shape":"String"},
        "value":{"shape":"NumericalScaleDefinitionValueDouble"},
        "label":{"shape":"NumericalScaleDefinitionLabelString"}
      }
    },
    "NumericalScaleDefinitionLabelString":{
      "type":"string",
      "max":100,
      "min":1
    },
    "NumericalScaleDefinitionValueDouble":{
      "type":"double",
      "box":true,
      "min":0
    },
    "NumericalScaleDefinitions":{
      "type":"list",
      "member":{"shape":"NumericalScaleDefinition"}
    },
    "OnlineEvaluationConfigArn":{
      "type":"string",
      "pattern":"arn:aws:bedrock-agentcore:[a-z0-9-]+:[0-9]{12}:online-evaluation-config\\/[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OnlineEvaluationConfigId":{
      "type":"string",
      "pattern":"[a-zA-Z][a-zA-Z0-9-_]{0,99}-[a-zA-Z0-9]{10}"
    },
    "OnlineEvaluationConfigStatus":{
      "type":"string",
      "enum":[
        "ACTIVE",
        "CREATING",
        "CREATE_FAILED",
        "UPDATING",
        "UPDATE_FAILED",
        "DELETING",
        "ERROR"
      ]
    },
    "OnlineEvaluationConfigSummary":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "onlineEvaluationConfigName",
        "status",
        "executionStatus",
        "createdAt",
        "updatedAt"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "onlineEvaluationConfigName":{"shape":"EvaluationConfigName"},
        "description":{"shape":"EvaluationConfigDescription"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "createdAt":{"shape":"Timestamp"},
        "updatedAt":{"shape":"Timestamp"},
        "failureReason":{"shape":"String"},
        "insights":{"shape":"InsightList"},
        "clusteringConfig":{"shape":"ClusteringConfig"}
      }
    },
    "OnlineEvaluationConfigSummaryList":{
      "type":"list",
      "member":{"shape":"OnlineEvaluationConfigSummary"}
    },
    "OnlineEvaluationExecutionStatus":{
      "type":"string",
      "enum":[
        "ENABLED",
        "DISABLED"
      ]
    },
    "OutputConfig":{
      "type":"structure",
      "required":["cloudWatchConfig"],
      "members":{
        "cloudWatchConfig":{"shape":"CloudWatchOutputConfig"}
      }
    },
    "RatingScale":{
      "type":"structure",
      "members":{
        "numerical":{"shape":"NumericalScaleDefinitions"},
        "categorical":{"shape":"CategoricalScaleDefinitions"}
      },
      "sensitive":true,
      "union":true
    },
    "ResourceNotFoundException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":404,
        "senderFault":true
      },
      "exception":true
    },
    "RoleArn":{
      "type":"string",
      "max":2048,
      "min":1,
      "pattern":"arn:aws(-[^:]+)?:iam::([0-9]{12})?:role/.+"
    },
    "Rule":{
      "type":"structure",
      "required":["samplingConfig"],
      "members":{
        "samplingConfig":{"shape":"SamplingConfig"},
        "filters":{"shape":"FilterList"},
        "sessionConfig":{"shape":"SessionConfig"}
      }
    },
    "SamplingConfig":{
      "type":"structure",
      "required":["samplingPercentage"],
      "members":{
        "samplingPercentage":{"shape":"SamplingConfigSamplingPercentageDouble"}
      }
    },
    "SamplingConfigSamplingPercentageDouble":{
      "type":"double",
      "box":true,
      "max":100.0,
      "min":0.01
    },
    "SensitiveJson":{
      "type":"structure",
      "members":{},
      "document":true,
      "sensitive":true
    },
    "ServiceName":{
      "type":"string",
      "max":256,
      "min":1,
      "pattern":"[a-zA-Z0-9._-]+"
    },
    "ServiceQuotaExceededException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":402,
        "senderFault":true
      },
      "exception":true
    },
    "SessionConfig":{
      "type":"structure",
      "required":["sessionTimeoutMinutes"],
      "members":{
        "sessionTimeoutMinutes":{"shape":"SessionConfigSessionTimeoutMinutesInteger"}
      }
    },
    "SessionConfigSessionTimeoutMinutesInteger":{
      "type":"integer",
      "box":true,
      "max":1440,
      "min":1
    },
    "String":{"type":"string"},
    "TagKey":{
      "type":"string",
      "max":128,
      "min":1,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TagValue":{
      "type":"string",
      "max":256,
      "min":0,
      "pattern":"[a-zA-Z0-9\\s._:/=+@-]*"
    },
    "TagsMap":{
      "type":"map",
      "key":{"shape":"TagKey"},
      "value":{"shape":"TagValue"},
      "max":50,
      "min":0
    },
    "ThrottlingException":{
      "type":"structure",
      "members":{
        "message":{"shape":"NonBlankString"}
      },
      "error":{
        "httpStatusCode":429,
        "senderFault":true
      },
      "exception":true
    },
    "Timestamp":{"type":"timestamp"},
    "UpdateConfigurationBundleRequest":{
      "type":"structure",
      "required":["bundleId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "bundleId":{
          "shape":"ConfigurationBundleId",
          "location":"uri",
          "locationName":"bundleId"
        },
        "bundleName":{"shape":"ConfigurationBundleName"},
        "description":{"shape":"ConfigurationBundleDescription"},
        "components":{"shape":"ComponentConfigurationMap"},
        "parentVersionIds":{"shape":"ConfigurationBundleVersionList"},
        "branchName":{"shape":"BranchName"},
        "commitMessage":{"shape":"UpdateConfigurationBundleRequestCommitMessageString"},
        "createdBy":{"shape":"VersionCreatedBySource"}
      }
    },
    "UpdateConfigurationBundleRequestCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    },
    "UpdateConfigurationBundleResponse":{
      "type":"structure",
      "required":[
        "bundleArn",
        "bundleId",
        "versionId",
        "updatedAt"
      ],
      "members":{
        "bundleArn":{"shape":"ConfigurationBundleArn"},
        "bundleId":{"shape":"ConfigurationBundleId"},
        "versionId":{"shape":"ConfigurationBundleVersion"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateDatasetExamplesRequest":{
      "type":"structure",
      "required":[
        "datasetId",
        "examples"
      ],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "examples":{
          "shape":"UpdateDatasetExamplesRequestExamplesList",
          "documentation":"<p>Examples to update. Each element is a JSON object containing a required <code>exampleId</code> string field identifying the existing example, plus the replacement fields. The <code>exampleId</code> is extracted and removed before persistence; the remaining document is validated against the dataset's schemaType. Max 1000 examples per call. Total request body must not exceed 5 MB.</p>"
        }
      }
    },
    "UpdateDatasetExamplesRequestExamplesList":{
      "type":"list",
      "member":{"shape":"SensitiveJson"},
      "documentation":"<p>Source of the dataset file. Either a customer S3 URI or inline bytes. Each element is a free-form JSON document whose structure is defined by the dataset's <code>schemaType</code>. Validated against the declared schema at write time. If an <code>exampleId</code> string field is present it is used as the example identifier and removed from the persisted content; otherwise a UUID is generated automatically.</p>",
      "max":1000,
      "min":1
    },
    "UpdateDatasetExamplesResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "status",
        "updatedCount",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "status":{"shape":"DatasetStatus"},
        "updatedCount":{"shape":"Long"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateDatasetRequest":{
      "type":"structure",
      "required":["datasetId"],
      "members":{
        "datasetId":{
          "shape":"DatasetId",
          "location":"uri",
          "locationName":"datasetId"
        },
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "description":{"shape":"UpdateDatasetRequestDescriptionString"},
        "tags":{"shape":"TagsMap"}
      }
    },
    "UpdateDatasetRequestDescriptionString":{
      "type":"string",
      "max":200,
      "min":0
    },
    "UpdateDatasetResponse":{
      "type":"structure",
      "required":[
        "datasetArn",
        "datasetId",
        "updatedAt"
      ],
      "members":{
        "datasetArn":{"shape":"DatasetArn"},
        "datasetId":{"shape":"DatasetId"},
        "updatedAt":{"shape":"Timestamp"}
      }
    },
    "UpdateEvaluatorRequest":{
      "type":"structure",
      "required":["evaluatorId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "evaluatorId":{
          "shape":"EvaluatorId",
          "location":"uri",
          "locationName":"evaluatorId"
        },
        "description":{"shape":"EvaluatorDescription"},
        "evaluatorConfig":{"shape":"EvaluatorConfig"},
        "level":{"shape":"EvaluatorLevel"},
        "kmsKeyArn":{"shape":"KmsKeyArn"}
      }
    },
    "UpdateEvaluatorResponse":{
      "type":"structure",
      "required":[
        "evaluatorArn",
        "evaluatorId",
        "updatedAt",
        "status"
      ],
      "members":{
        "evaluatorArn":{"shape":"EvaluatorArn"},
        "evaluatorId":{"shape":"EvaluatorId"},
        "updatedAt":{"shape":"Timestamp"},
        "status":{"shape":"EvaluatorStatus"}
      }
    },
    "UpdateOnlineEvaluationConfigRequest":{
      "type":"structure",
      "required":["onlineEvaluationConfigId"],
      "members":{
        "clientToken":{
          "shape":"ClientToken",
          "idempotencyToken":true
        },
        "onlineEvaluationConfigId":{
          "shape":"OnlineEvaluationConfigId",
          "location":"uri",
          "locationName":"onlineEvaluationConfigId"
        },
        "description":{"shape":"EvaluationConfigDescription"},
        "rule":{"shape":"Rule"},
        "dataSourceConfig":{"shape":"DataSourceConfig"},
        "evaluators":{"shape":"EvaluatorList"},
        "insights":{"shape":"InsightList"},
        "clusteringConfig":{"shape":"ClusteringConfig"},
        "evaluationExecutionRoleArn":{"shape":"RoleArn"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"}
      }
    },
    "UpdateOnlineEvaluationConfigResponse":{
      "type":"structure",
      "required":[
        "onlineEvaluationConfigArn",
        "onlineEvaluationConfigId",
        "updatedAt",
        "status",
        "executionStatus"
      ],
      "members":{
        "onlineEvaluationConfigArn":{"shape":"OnlineEvaluationConfigArn"},
        "onlineEvaluationConfigId":{"shape":"OnlineEvaluationConfigId"},
        "updatedAt":{"shape":"Timestamp"},
        "status":{"shape":"OnlineEvaluationConfigStatus"},
        "executionStatus":{"shape":"OnlineEvaluationExecutionStatus"},
        "failureReason":{"shape":"String"}
      }
    },
    "ValidationException":{
      "type":"structure",
      "required":[
        "message",
        "reason"
      ],
      "members":{
        "message":{"shape":"String"},
        "reason":{"shape":"ValidationExceptionReason"},
        "fieldList":{"shape":"ValidationExceptionFieldList"}
      },
      "error":{
        "httpStatusCode":400,
        "senderFault":true
      },
      "exception":true
    },
    "ValidationExceptionField":{
      "type":"structure",
      "required":[
        "name",
        "message"
      ],
      "members":{
        "name":{"shape":"String"},
        "message":{"shape":"String"}
      }
    },
    "ValidationExceptionFieldList":{
      "type":"list",
      "member":{"shape":"ValidationExceptionField"}
    },
    "ValidationExceptionReason":{
      "type":"string",
      "enum":[
        "CannotParse",
        "FieldValidationFailed",
        "IdempotentParameterMismatchException",
        "EventInOtherSession",
        "ResourceConflict"
      ]
    },
    "VersionCreatedBySource":{
      "type":"structure",
      "required":["name"],
      "members":{
        "name":{"shape":"String"},
        "arn":{"shape":"String"}
      }
    },
    "VersionFilter":{
      "type":"structure",
      "members":{
        "branchName":{"shape":"BranchName"},
        "createdByName":{"shape":"String"},
        "latestPerBranch":{"shape":"Boolean"}
      }
    },
    "VersionLineageMetadata":{
      "type":"structure",
      "members":{
        "parentVersionIds":{"shape":"ConfigurationBundleVersionList"},
        "branchName":{"shape":"BranchName"},
        "createdBy":{"shape":"VersionCreatedBySource"},
        "commitMessage":{"shape":"VersionLineageMetadataCommitMessageString"}
      }
    },
    "VersionLineageMetadataCommitMessageString":{
      "type":"string",
      "max":500,
      "min":1
    }
  }
}
